{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{% import "macros/timer.njk" as timer %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Train for the Brain</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,700" rel="stylesheet">

  <link rel="stylesheet" href="/styles/vendor/jquery/jquery-ui.min.css">
  <link rel="stylesheet" href="/scripts/vendor/pupunzi/dist/css/jquery.mb.YTPlayer.min.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/vendor/jquerysvg/jquery.svg.css">

  <script src="/scripts/jquery/jquery-3.2.1.js"></script>
  <script src="/scripts/jquery/jquery-ui.js"></script>
  <script src="/scripts/furf/jquery.ui.touch-punch.js"></script>
  <script src="/scripts/vast/jquery.popupoverlay.js"></script>
  <script src="/scripts/parsley/parsley.js"></script>
  <script src="/scripts/svgdotjs/svg.js"></script>
  <script src="https://player.vimeo.com/api/player.js"></script>
  <script src="/scripts/jquerysvg/jquery.svg.js"></script>
</head>

<body>

<div class="page-wrapper">
  {% include "includes/page-header.njk" %}

  <main id="page-content" role="main">
    {% block content %}{% endblock %}
  </main>

  {% include "includes/page-footer.njk" %}
</div>


{% include "includes/why-important.njk" %}
{% include "includes/why-exercise.njk" %}
{% include "includes/what-is-dementia.njk" %}
{% include "includes/ill-health.njk" %}
{% include "includes/ipaq.njk" %}
{% include "includes/exit-home.njk" %}
{% include "includes/exit-measures.njk" %}
{% include "includes/exit-dashboard.njk" %}
{% include "includes/contact-us.njk" %}
{% include "includes/my-data.njk" %}
<script src="/scripts/main.min.js"></script>
<script>
  jQuery.noConflict();

  (function($) {
    // -------------------------------------------------------------------------
    // Calculate total session times
    // -------------------------------------------------------------------------
    var sessionTime = function() {
      var totalDuration = 0;

      $('div[data-duration]').each(function() {
        $(this).siblings(':checked').each(function() {
          totalDuration = totalDuration + parseInt($(this).siblings('div[data-duration]').attr('data-duration'));
        });
      });

      $('#total-duration').text(totalDuration +' mins');

      return totalDuration;
    };

    sessionTime();

    $('.duration').siblings('input[type=checkbox]').on('change', function() {
      if ($(this).prop('checked')) {
        $(this).siblings('.duration').find('.timer-icon').find('circle').attr('stroke', "#1aab98");
        $(this).siblings('.duration').find('.timer-icon').find('path').attr('stroke', "#1aab98").attr('fill', '#1aab98');
        sessionTime();
      } else {
        $(this).siblings('.duration').find('.timer-icon').find('circle').attr('stroke', "#ccc2ba");
        $(this).siblings('.duration').find('.timer-icon').find('path').attr('stroke', "#ccc2ba").attr('fill', '#ccc2ba');
        sessionTime();
      }
    });


    // -------------------------------------------------------------------------
    // Draw timer icon
    // -------------------------------------------------------------------------
    function drawIntro(svg) {
      svg.circle(17, 17, 16, {fill: 'none', stroke: '#1aab98', strokeWidth: 2});
      // var g = svg.group({stroke: 'black', strokeWidth: 2});
      // svg.line(g, 15, 75, 135, 75);
      // svg.line(g, 75, 15, 75, 135);
    }
    $('#jq-timer').svg({onLoad: drawIntro});

    // -------------------------------------------------------------------------
    // Handle responsive video
    // -------------------------------------------------------------------------
    var $videoFrames = $('#video-frame');

    $videoFrames.each(function(i) {
      var $videoFrame = $(this);
      var $wrapper;
      var url = $videoFrame.attr('src');
      var players = /www.youtube.com|player.vimeo.com/;
      var videoRatio;

      if (url.search(players) > 0) {
        videoRatio = ($videoFrame.attr('height') / $videoFrame.attr('width')) * 100;

        $videoFrame
          .css({
            'position': 'absolute',
            'top': '0',
            'left': '0'
          })
          .attr('width', '100%')
          .attr('height', '100%');

        $videoFrame
          .parent('.video-wrapper')
          .css({
            'width': '100%',
            'position': 'relative',
            'padding-top': videoRatio + '%'
          });
      }
    });

    $('.video-start').click(function(){
      var $videoFrame = $('#video-frame');

      $videoFrame.attr('src', $videoFrame.attr('src')+'?autoplay=1');
      $(this).hide();
    });

    // -------------------------------------------------------------------------
    // Handle form validation
    // -------------------------------------------------------------------------
    $('#t4tb').parsley()
      // Toggles .hidden and .disabled classes on error messages
      // and submit button if field validation has errors
      .on('field:validated', function() {
        var hasErrors = $('.parsley-error').length !== 0;

        if (hasErrors) {
          $('#form-errors').removeClass('hidden');
          $('#t4tb').find('button[type=submit]').prop('disabled', true);
        } else {
          $('#form-errors').addClass('hidden');
          $('#t4tb').find('button[type=submit]').prop('disabled', false);
        }
      });
  })(jQuery);
</script>
</body>
</html>
