{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{% import "macros/timer.njk" as timer %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Train for the Brain</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <script src="/scripts/google/webfontloader/webfontloader.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Rubik:300,400,400i,500,700:latin']
      }
    });
  </script>

  <link rel="stylesheet" href="/styles/vendor/jquery/jquery-ui.min.css">
  <link rel="stylesheet" href="/styles/vendor/jquerysvg/jquery.svg.css">
  <!-- link rel="stylesheet" href="/scripts/vendor/pupunzi/dist/css/jquery.mb.YTPlayer.min.css" -->
  <link rel="stylesheet" href="/styles/main.css">

  <script src="/scripts/jquery/jquery-3.2.1.js"></script>
  <script src="/scripts/jquery/jquery-ui.js"></script>
  <script src="/scripts/furf/jquery.ui.touch-punch.js"></script>
  <script src="/scripts/vast/jquery.popupoverlay.js"></script>
  <script src="/scripts/parsley/parsley.js"></script>
  <script src="/scripts/svgdotjs/svg.js"></script>
  <script src="https://player.vimeo.com/api/player.js"></script>
  <script src="https://cdn.anychart.com/js/latest/graphics.min.js"></script>
</head>

<body>

<div class="page-wrapper">
  {% include "includes/page-header.njk" %}

  <main id="page-content" role="main">
    {% block content %}{% endblock %}
  </main>

  {% include "includes/page-footer.njk" %}
</div>


{% include "includes/why-important.njk" %}
{% include "includes/why-exercise.njk" %}
{% include "includes/what-is-dementia.njk" %}
{% include "includes/ill-health.njk" %}
{% include "includes/ipaq.njk" %}
{% include "includes/exit-home.njk" %}
{% include "includes/exit-measures.njk" %}
{% include "includes/exit-dashboard.njk" %}
{% include "includes/contact-us.njk" %}
{% include "includes/my-data.njk" %}

<script src="/scripts/main.min.js"></script>
<script>
  jQuery.noConflict();

  (function($) {
    // -------------------------------------------------------------------------
    // Custom validators
    // -------------------------------------------------------------------------
    window.Parsley.addValidator('requireOneOf', {
      validate: function(value, requirement, instance) {
        console.log(instance);
        instance.$element.children($('.field-validationp-group')).each(function() {
          console.log($(this));
          if (instance.parent.isValid({group: $(this), force: true})) {
            return true;
          }
        });
        return false;
      },
      requirement: 'integer',
    });

    // -------------------------------------------------------------------------
    // Handle form validation - submit button disabled until all fields valid
    // -------------------------------------------------------------------------
    var $form = $('#t4tb');

    var errors = function() {
      var errors = $form.find('.parsley-error').length;
      console.log(errors + " errors found");
      return errors;
    };

    $form.parsley().validate();
    if (errors()) {
      $form.find('button[type=submit]').prop('disabled', true);
    } else {
      $form.find('button[type=submit]').prop('disabled', false);
    }

    $form.parsley().on('field:validated', function() {
      if (errors()) {
        $form.find('button[type=submit]').prop('disabled', true);
      } else {
        $form.find('button[type=submit]').prop('disabled', false);
      }
    });

    $form.parsley({
      inputs: Parsley.options.inputs + ', [data-parsley-require-one-of]'
    });

    $('.form-field').find('input, textarea, select').on('change', function() {
      $form.parsley().validate();
    });
  })(jQuery);
</script>
</body>
</html>
