<!-- layout.nunjucks -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Train for the Brain</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,700" rel="stylesheet">

  <link rel="stylesheet" href="/styles/library/jquery/jquery-ui.min.css">
  <link rel="stylesheet" href="/styles/main.css">

  <script src="/scripts/main.min.js"></script>
</head>
<body>

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{# % import "macros/modal.njk" as modal % #}

{% include "includes/page-header.njk" %}

<main id="page-content" role="main">
  {% block content %}{% endblock %}
</main>

{% include "includes/page-footer.njk" %}

{% include "includes/my-data.njk" %}
{% include "includes/why-important.njk" %}
{% include "includes/why-exercise.njk" %}
{% include "includes/ill-health.njk" %}
{% include "includes/ipaq.njk" %}
{% include "includes/exit-home.njk" %}
{% include "includes/exit-measures.njk" %}
{% include "includes/exit-dashboard.njk" %}

<script>
  jQuery.noConflict();

  (function($) {

    // Handle JQuery UI Slider as numeric value
    $('.slider').slider({
      create: function(event, ui) {
        var $this = $(this);
        var $input = $this.find('input');
        var min = $input.data('min');
        var max = $input.data('max');
        var step = $input.data('step');

        $this.slider('option', 'min', min);
        $this.slider('option', 'max', max);
        $this.slider('option', 'step', step);
        $this.slider('option', 'range', false);
        $this.slider('option', 'animate', 500);
      },
      slide: function(event, ui) {
        var $this  = $(this);
        var $input = $this.find('input');
        var $fill  = $this.find('.slider_fill');

        var min    = $this.slider('option', 'min');
        var max    = $this.slider('option', 'max');
        var value  = ui.value;
        var fill   = (value / (max - min) * 100) + '%';

        $input.val(value);
        $fill.width(fill);
      }
    });

    // Handle JQuery UI Slider as option list
    var $slider = $('.slider-1').slider({
      create: function(event, ui) {
        var $this   = $(this);
        var $select = $this.find('select');
        var $fill   = $this.find('.slider_fill');

        var values  = $select.data('values').split('|');
        var max     = values.length - 1;

        var width   = 100 / (max + 1) + "%";
        var margin  = -0.5 * 100 / (max + 1) + "%";

        $this.slider('option', 'min', 0);
        $this.slider('option', 'max', max);
        $this.slider('option', 'step', 1);
        $this.slider('option', 'value', parseInt(max / 2));
        $this.slider('option', 'range', false);
        $this.slider('option', 'animate', 500);

        // $this.find('.slider-1_values, .slider-1_labels').css({marginLeft: margin, marginRight: margin});
        $this.find('.slider-1_values').css({marginLeft: margin, marginRight: margin});
        $this.find('.slider-1_value').width(width);
      },
      slide: function(event, ui) {
        var $this   = $(this);
        var $select = $this.find('select');
        var $fill   = $this.find('.slider_fill');

        var max     = $this.slider('option', 'max');
        var value   = ui.value;
        var values  = $select.data('values').split('|');
        var fill    = (value / max * 100) + '%';

        $select.selectedIndex = value;
        $select.val(values[value]);
        $this.find('.slider-1_fill').width(fill);
      }
    });

    $(".slider-1").find('select').on("change", function() {
      $slider.slider("value", this.selectedIndex);
    });

    // Handle JQuery UI date widget
    $("input[data-type=date]").datepicker({
      maxDate: 0,
      dateFormat: "dd/mm/yy",
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:+0"
    });


    // Handle user-status overlay display
    $("#page-header").find(".user-info_name, .user-info_profile").on( "click", function() {
      $("#user-status").show();
    });

    $("#user-status").find(".user-status_close").on( "click", function() {
      $("#user-status").hide();
    });

    // Handle modals
    $('.modal').popup({
      color: '#022553',
      opacity: 0.9,
      horizontal: 'center',
      vertical: 'top',
      escape: true,
      blur: false
    });

    // Show/hide individual modals - needs to be replaced by generic click events
    $('#my-data-open').on('click', function() {
      $('#my-data').popup('show');
    });
    $('#my-data-close').on('click', function() {
      $('#my-data').popup('hide');
    });

    $('#why-important-open').on('click', function() {
      $('#why-important').popup('show');
    });
    $('#why-important-close').on('click', function() {
      $('#why-important').popup('hide');
    });

    $('#why-exercise-open').on('click', function() {
      $('#why-exercise').popup('show');
    });
    $('#why-exercise-close').on('click', function() {
      $('#why-exercise').popup('hide');
    });

    $('#ill-health-open').on('click', function() {
      $('#ill-health').popup('show');
    });
    $('#ill-health-close').on('click', function() {
      $('#ill-health').popup('hide');
    });

    $('#ipaq-open').on('click', function() {
      $('#ipaq').popup('show');
    });
    $('#ipaq-close').on('click', function() {
      $('#ipaq').popup('hide');
    });

    $('#exit-home-open').on('click', function() {
      $('#exit-home').popup('show');
    });
    $('#exit-home-close, #exit-home-close-button').on('click', function() {
      $('#exit-home').popup('hide');
    });

    $('#exit-measures-open').on('click', function() {
      $('#exit-measures').popup('show');
    });
    $('#exit-measures-close, #exit-measures-close-button').on('click', function() {
      $('#exit-measures').popup('hide');
    });

    $('#exit-dashboard-open').on('click', function() {
      $('#exit-dashboard').popup('show');
    });
    $('#exit-dashboard-close, #exit-dashboard-close-button').on('click', function() {
      $('#exit-dashboard').popup('hide');
    });

  })(jQuery);
</script>
</body>
</html>
