@charset "UTF-8";

@import 'base/variables';

@import 'base/functions/shade';

@import 'base/mixins/breakpoint';
@import 'base/mixins/clearfix';
@import 'base/mixins/flexbox';
@import 'base/mixins/position';
@import 'base/mixins/size';
@import 'base/mixins/assign-inputs';

@import 'base/base';
@import 'base/typography';
@import 'base/helpers';

@import 'layout/page-layout';
@import 'layout/page-header';
@import 'layout/page-content';
@import 'layout/page-footer';

@import 'modules/forms';
@import 'modules/buttons';
@import 'modules/video';
@import 'modules/ribbon';
@import 'modules/slider';
@import 'modules/slider-1';
@import 'modules/mask';
@import 'modules/modal';

// @import 'modules/panel';
@import 'modules/panel-hero';
@import 'modules/panel-display';
@import 'modules/panel-progress';
@import 'modules/panel-overlay';
@import 'modules/session';

// =============================================================================
// Override some JQuery UI rules
// Ideally these should be rolled imto a custom JQuery UI theme
.slider span.ui-slider-handle {
  border-radius: 50% !important;
  height: $base-spacing;
  width: $base-spacing;
  outline: 0;
}

.slider span.ui-slider-handle:hover,
.slider span.ui-slider-handle:focus,
.slider span.ui-slider-handle:active {
  border: 1px solid $brand-primary !important;
  background-color: $white !important;
  outline: 0;
}

.slider-1 span.ui-slider-handle {
  border-radius: 50% !important;
  height: $base-spacing;
  width: $base-spacing;
  outline: 0;
}

.slider-1 span.ui-slider-handle:hover,
.slider-1 span.ui-slider-handle:focus,
.slider-1 span.ui-slider-handle:active {
  border: 3px solid $brand-primary !important;
  background-color: $white !important;
}

.ui-datepicker {
  .ui-datepicker-header {
    color: $white;
    background-color: $brand-primary;
  }

  td {
    span, a {
      text-align: center;
    }
  }
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
  border-color: $dark-gray;
  background-color: $mid-gray;
  color: $dark-gray;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
  border-color: $dark-gray;
  background-color: $brand-tertiary;
  color: $white;
}

.ui-datepicker .ui-datepicker-title select {
  margin: 1px 2px;
}

.parsley-errors-list.filled {
  opacity: 1;
}
