@charset "UTF-8";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
}


ul {
  list-style: url("/images/grey-bullet.svg");
  margin: $small-spacing 0;
  padding-left: 18px;

  li {
    font-size: $small-font-size;
    line-height: $small-line-height;
    color: $base-font-color;
    margin-left: 0;
    padding-left: 12px;
    padding-bottom: $small-spacing;
  }

  li:after {
    content: "";
    display: block;
    margin-left: -34px;
    border-bottom: $horizontal-rule-border;
    padding-bottom: $small-spacing;
  }

  li:last-child:after {
    border: none;
    padding-bottom: 0;
  }
}

ol {
  list-style: none;
  counter-reset: ol-counter;
  margin: $base-spacing 0;
  padding: 0 0 0 26px;

  li {
    font-size: $small-font-size;
    line-height: $small-line-height;
    color: $base-font-color;
    margin-left: 0;
    padding-left: 0;
    padding-bottom: $small-spacing;
  }

  li:before {
    counter-increment: ol-counter;
    content: counter(ol-counter);
    float: left;
    width: 28px;
    margin-left: -28px;
  }

  li:after {
    content: "";
    display: block;
    margin-left: -28px;
    margin-right: 0;
    border-bottom: 1px solid $mid-gray;
    padding-bottom: $small-spacing;
  }

  li:last-child:after {
    border: none;
    padding-bottom: 0;
  }
}



blockquote {
  border-left: 5px solid $light-gray;
  margin-left: 0;
  padding-left: $small-spacing;
}

a {
  &:link,
  &:visited {
    color: $brand-primary;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }

  &.reversed:link,
  &.reversed:visited {
    color: $white;
  }
}


hr {
  border-bottom: $horizontal-rule-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $small-spacing 0;

  &.brand-primary {
    border-color: $brand-primary;
  }
}

img {
  vertical-align: middle;
}

