@charset "UTF-8";

.centred {
  text-align: center;
}

.hidden {
  display: none;
}

.small {
  font-size: $small-font-size;
  line-height: $small-line-height;
}

.brand-primary {
  color: $brand-primary;
}

.brand-secondary {
  color: $brand-secondary;
}

.brand-tertiary {
  color: $brand-tertiary;
}
