@charset "UTF-8";

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;

  header,
  article,
  section,
  footer {
    color: $base-font-color;
  }
}

h1, .h1 {
  color: $heading-font-color;
  font-family: $heading-font-family;
  font-size: $h1-font-size-mobile;
  line-height: $h1-line-height-mobile;
  font-weight: $h1-font-weight;
  margin: 0 0 $base-spacing * 2;

  @include breakpoint(medium) {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
  }
}

h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $heading-font-color;
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  margin: 0 0 $base-spacing;
}

p {
  margin: 0 0 $small-spacing;

  &.heading {
    color: $alt-font-color;
  }
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
