@charset "UTF-8";

// Typography
$base-font-family: 'Rubik', 'HelveticaNeue', 'Arial', sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 18px;
$small-font-size: 16px;
$tiny-font-size: 14px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 16px;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$green: #1aab98;
$blue: #022553;
$light-blue: #1067cf;
$red: #fc5c7a;

$white: #fff;
$light-gray: #f3f0ee;
$mid-gray: #ccc2bb;
$dark-gray: #756661;
$black: #000;

// Brand colors
$brand-primary: $green;
$brand-secondary: $blue;
$brand-tertiary: $light-blue;

// Font Colors
$base-font-color: $dark-gray;
$heading-font-color: $brand-secondary;
$action-color: $green;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 2px rgba($black, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 3px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
