@charset "UTF-8";

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: $base-font-weight;
  line-height: 18px;
  padding: $small-spacing;
  margin: $small-spacing 0;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  border-bottom: 4px solid shade($action-color, 30%);
  width: 224px;
  height: 44px;

  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: #fff;
    text-decoration: none;
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    background-color: $light-gray;
    color: $mid-gray !important;
    border-bottom: 4px solid shade($light-gray, 20%);

    &:hover,
    &:focus {
      background-color: $light-gray;
    }
  }

  &.secondary {
    background-color: $mid-gray;
    color: $dark-gray !important;
    border-bottom: 4px solid  shade($mid-gray, 20%);

    &:hover,
    &:focus {
      background-color: shade($mid-gray, 10%);
    }
  }

  &.warning {
    background-color: $red;
    color: $white !important;
    border-bottom: 4px solid  shade($red, 20%);

    &:hover,
    &:focus {
      background-color: shade($red, 10%);
    }
  }

  &.button--back {
    position: relative;
    padding: $small-spacing $base-spacing;

    &:before {
      position: relative;
      content: url('/images/left-arrow-grey.svg');
      left: -12px;
      top: -1px;
    }

    &:after {
      content: '';
      padding-left: 24px;
    }
  }
}

.button-wrapper {
  @include flexbox($justify-content: space-between);
  margin: $small-spacing 0;

  &.centred {
    @include flexbox($justify-content: space-around);
  }
}

