@charset "UTF-8";

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;

  & + fieldset {
    margin-top: $base-spacing;
  }
}

legend {
  font-weight: 400;
  color: $brand-secondary;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

label {
  display: block;
  color: $brand-secondary;
  font-weight: 400;
  font-size: $small-font-size;
  line-height: $small-line-height;
}

// Text fields
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea,
select {
  background-color: $base-background-color;
  border: 1px solid $mid-gray;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  padding: 10px;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover,
  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover,
    &:focus {
      border-color: $mid-gray;
      box-shadow: $form-box-shadow;
    }
  }
}

textarea {
  height: 216px;
  resize: vertical;
}


// Radio button fields
input[type='radio'] {
  position: absolute;
  opacity: 0;
}

input[type='radio'] + label {
  position: relative;
  padding: 0 0 0 41px;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-font-color;
}

input[type='radio'] + label:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  background-color: $white;
  border: 1px solid $mid-gray;
  // box-shadow: inset 0px 0px 0px 4px white;
  box-shadow: inset 0 2px 3px -1px #ccc, inset 0px 0px 0px 7px $white;
  border-radius: 50%;
}

input[type='radio']:checked + label:before {
  background-color: $brand-primary;
  border-color: $brand-primary;
}

// Checkboxe fields (label follows)
input[type='checkbox'] {
  position: absolute;
  opacity: 0;
}

input[type='checkbox'] + label {
  position: relative;
  padding: 0 0 0 41px;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-font-color;
}

input[type='checkbox'] + label:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  background-color: $white;
  border: 1px solid $mid-gray;
  // box-shadow: inset 0px 0px 0px 4px white;
  box-shadow: inset 0 2px 3px -1px #ccc, inset 0px 0px 0px 4px $white;
  border-radius: $base-border-radius;
}

input[type='checkbox']:checked + label:before {
  background: url('/images/green-tick-icon.svg') center center no-repeat;
  border-color: $brand-primary;
}

// Field containers
.form-field-group {
  label + .form-field-inline-group {
    margin-top: $small-spacing;
  }
}

.form-field-group > label {
  padding: 0 0 $small-spacing 0;
}

.form-field-inline-group {
  @include breakpoint(large) {
    @include flexbox($justify-content: space-between);

    .form-field--text {
    width: 49%;
    }
  }
}

.form-field-row {
  @include flexbox($justify-content: space-between, $flex-wrap: nowrap);
  margin: $base-spacing 0;
  border-bottom: 1px solid $mid-gray;
}


// -------------------------------------
// Form field types
// -------------------------------------
.form-field--slider,
.form-field--slider-1 {
  padding-bottom: 32px;

  label {
    margin: $small-spacing -1 * $base-spacing 0;
  }
}

.form-field-inline-group > .form-field--checkbox:first-child,
.form-field-inline-group > .form-field--radio:first-child {
  @include breakpoint(medium) {
    margin-top: 16px;
  }
}

.form-field-row,
.form-field-group,
.form-field-inline-group {
  position: relative;
  margin-top: 16px;
}

.form-field--checkbox,
.form-field--radio {
  min-height: 32px;
}

.form-field--radio + .form-field--radio,
.form-field--checkbox + .form-field--checkbox,
.parsley-errors-list + .form-field--radio,
.parsley-errors-list + .form-field--checkbox {
  margin-top: 16px;
}

.form-field--slider {
  padding: 0 $base-spacing $base-spacing;
}

.form-actions {
  margin: $base-spacing 0 $small-spacing;

  @include breakpoint(medium) {
    @include flexbox($justify-content: space-between);

    &.centred {
      @include flexbox($justify-content: space-around);
    }
  }

  .button,
  button,
  input[type='submit'],
  input[type='reset'],
  input[type='button'] {
    display: block;
    margin: $small-spacing auto;

    @include breakpoint(medium) {
      margin: $small-spacing 0;
    }
  }
}

// -------------------------------------
// Form validation errors
// @todo: Refactoring required
// -------------------------------------
.form-errors {
  padding: 0 $small-spacing;
  margin: $small-spacing 0 $base-spacing;
  color: $white;
  background-color: $red;
  border-radius: 3px;
  font-size: 14px;
}

.parsley-errors-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -22px;
  left: 0;
  right: 0;
  opacity: 0;

  &:after {
    position: absolute;
    left: 8px;
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid $red;
  }

  &.filled {
    display: none;
    opacity: 1;
  }

  li {
    color: $white;
    background-color: $red;
    padding: 0 3px;
    border-radius: 3px;
    font-size: 14px;
  }
}


input.parsley-success,
select.parsley-success,
textarea.parsley-success {
   // border: 1px solid $brand-primary !important;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  // border: 1px solid $red !important;
}

.form-field-group,
.form-field-inline-group {
  .parsley-errors-list {
    top: -22px;
    right: 0;
    left: 0;
  }
}

.form-field-row {
  .parsley-errors-list {
    top: -22px;
  }
}

.form-field-row.consent-item {
  .parsley-errors-list {
    top: -22px;

    &:after {
      right: 8px;
      left: auto;
    }
  }
}

.form-field.parsley-error {
  input[type='checkbox'] + label:before {
    // border-color: $red;
  }

  input[type='radio'] + label:before {
    // border-color: $red;
  }

  & ~ .form-field {
    input[type='checkbox'] + label:before {
      // border-color: $red;
    }

    input[type='radio'] + label:before {
      // border-color: $red;
    }
  }
}

.form-field--checkbox,
.form-field--radio {
  .parsley-errors-list:after {
    left: 8px;
    right: auto;
  }
}

.form-field--slider,
.form-field--slider-1 {
  .parsley-errors-list {
    top: -32px;
  }
}

// -------------------------------------
// Styles for sign-up form summary page
// -------------------------------------
.form-field-summary {
  label {
    font-size: $small-font-size;
    line-height: $small-line-height;
  }

  input {
    display: none;
  }
}

// -------------------------------------
// Fields with associated duration icons
// Probably needs to done more logically
// -------------------------------------
input ~ .duration,
p ~ .duration {
  margin-top: -32px;
  text-align: right;
  font-size: $small-font-size;
  line-height: $small-line-height;
  color: $alt-font-color;
  background-color: transparent;

  &:after {
    display: inline-block;
    // content: url('/images/time-icon-5-grey.svg');
    // vertical-align: middle;
    padding-left: $small-spacing;
  }
}

p ~ .duration { margin-top: -44px; }

// input ~ .duration--5:after  { content: url('/images/time-icon-5-grey.svg'); }
// input ~ .duration--8:after  { content: url('/images/time-icon-8-grey.svg'); }
// input ~ .duration--10:after { content: url('/images/time-icon-10-grey.svg'); }
// input ~ .duration--11:after { content: url('/images/time-icon-11-grey.svg'); }
// input ~ .duration--12:after { content: url('/images/time-icon-12-grey.svg'); }
// input ~ .duration--15:after { content: url('/images/time-icon-15-grey.svg'); }
// input ~ .duration--20:after { content: url('/images/time-icon-20-grey.svg'); }
// input ~ .duration--30:after { content: url('/images/time-icon-30-grey.svg'); }
// input ~ .duration--40:after { content: url('/images/time-icon-40-grey.svg'); }
// input ~ .duration--50:after { content: url('/images/time-icon-50-grey.svg'); }

// input:checked ~ .duration--5:after  { content: url('/images/time-icon-5.svg'); }
// input:checked ~ .duration--8:after  { content: url('/images/time-icon-8.svg'); }
// input:checked ~ .duration--10:after { content: url('/images/time-icon-10.svg'); }
// input:checked ~ .duration--11:after { content: url('/images/time-icon-11.svg'); }
// input:checked ~ .duration--12:after { content: url('/images/time-icon-12.svg'); }
// input:checked ~ .duration--15:after { content: url('/images/time-icon-15.svg'); }
// input:checked ~ .duration--20:after { content: url('/images/time-icon-20.svg'); }
// input:checked ~ .duration--30:after { content: url('/images/time-icon-30.svg'); }
// input:checked ~ .duration--40:after { content: url('/images/time-icon-40.svg'); }
// input:checked ~ .duration--50:after { content: url('/images/time-icon-50.svg'); }

p ~ .duration--5:after  { content: url('/images/time-icon-5.svg'); }
p ~ .duration--8:after  { content: url('/images/time-icon-8.svg'); }
p ~ .duration--10:after { content: url('/images/time-icon-10.svg'); }
p ~ .duration--11:after { content: url('/images/time-icon-11.svg'); }
p ~ .duration--12:after { content: url('/images/time-icon-12.svg'); }
p ~ .duration--15:after { content: url('/images/time-icon-15.svg'); }
p ~ .duration--20:after { content: url('/images/time-icon-20.svg'); }
p ~ .duration--30:after { content: url('/images/time-icon-30.svg'); }
p ~ .duration--40:after { content: url('/images/time-icon-40.svg'); }
p ~ .duration--50:after { content: url('/images/time-icon-50.svg'); }

// -------------------------------------
// Not sure if these rules belong here!
// Maybe in a 'consent-items' module
// -------------------------------------
.consent-items {
  counter-reset: consent-item;

    .credentials {
      color: $brand-secondary;
      font-size: $small-font-size;
      line-height: $small-line-height;
      border-bottom: 1px solid $mid-gray;
    }

  .consent-item {
    @include flexbox($justify-content: space-between, $align-items: flex-start, $flex-wrap: nowrap);
    margin-bottom: $small-spacing;
    border-bottom: 1px solid $mid-gray;

    p {
      font-size: $small-font-size;
      line-height: $small-line-height;
      padding: 0 $small-spacing 0 0;
      width: 100%;

      @include breakpoint(large) {
        padding: 0 $base-spacing 0 0;
      }
    }

    label {
      // WARNING: 27px is a magic number!
      padding: 0 27px 0 0 !important;
    }

    &:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
    }

    .form-field--checkbox,
    .form-field--radio {
      .parsley-errors-list:after {
        right: auto;
        left: 8px;
      }
    }
  }

  .consent-item--with-counter {
    &:before {
      content: counter(consent-item);
      counter-increment: consent-item;
      vertical-align: top;
      color: $brand-secondary;
      padding-right: $base-spacing;

      @include breakpoint(large) {
        padding-right: $base-spacing * 2;
      }
    }
  }
}
