.panel--dashboard {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background-color: rgba($brand-secondary, 0.9);
  background-color: $brand-secondary;
  color: $white;
  padding: $base-spacing * 4 0;

  article {
    width: 100%;
    max-width: 520px;
    padding: $base-spacing;
    margin: 0 auto;
  }

  h1, h2, p {
    color: $white;
  }
}
