@charset "UTF-8";

.display-panel {
  @include clearfix;

  .wrapper {
    width: 100%;
    max-width: 472px;
    margin: 0 auto;
    padding: 0 $base-spacing $base-spacing;
    padding-top: $base-spacing * 2;
    padding-bottom: $base-spacing * 2;

    &.wrapper--wide {
      max-width: 800px;
    }
  }

  h1 {
    text-align: center;
    margin-bottom: $base-spacing * 2;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(large) {
      width: 75%
    }
  }

  .display-panel_text {
    text-align: center;
    margin-bottom: $base-spacing * 4/3;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(large) {
      width: 75%
    }
  }

  .button{
    width: 272px;
    font-size: 20px;
  }
}

.display-panel--dark {
  background-color: $brand-secondary;

  h1  {
    color: $white
  }

  p {
    color: $mid-gray;
  }
}

.display-panel--light {
  background-color: $light-gray;
}

.display-panel_boxes {
  @include flexbox;
}

.display-panel_box {
  width: 200px;
}

.display-panel_box--small {
  width: 120px;

  @include breakpoint(medium) {
    width: 200px;
  }
}

.display-panel_image {
  width: 100%;
  max-width: 150px;
  margin: $small-spacing auto;

  img {
    width: 100%;
  }
}
