.panel--overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: $white;
  background-color: $brand-secondary;
  padding: $base-spacing;

  article {
    width: 100%;
    max-width: 520px;
    padding: $base-spacing;
    margin: 0 auto;
  }

  h1, h2, p {
    color: $white;
    margin-top: $base-spacing * 3
  }
}
