@charset "UTF-8";

.panel--progress {
  header {
    position: relative;

    .section-title {
      background-color: $light-gray;

      h1 {
        color: $dark-gray;
        padding: $base-spacing;
        margin: 0;

        .steps {
          display: inline-block;
          padding-right: $base-spacing;
          color: $mid-gray;

          em {
            color: $dark-gray;
            font-style: normal;
          }
        }
      }

      &.blue {
        background-color: $light-blue;

        h1 {
          color: $white;
        }
      }
    }

    .progress-header {
      @include clearfix;
      position: relative;
      background-color: $light-gray;
      padding: 0;

      hr {
        height: 1px;
        background-color: $mid-gray;
        border:none;
        margin: 0 $base-spacing;
        padding: 0;
        line-height: 0;
      }

      .wrapper {
        @include breakpoint(large) {
          @include flexbox($justify-content: space-between);
        }
      }

      .progress-duration,
      .progress-complete {
        margin: 14px 0 6px;
        padding: 0 $base-spacing;

        @include breakpoint(large) {
          margin: $base-spacing 0;
        }

        img {
          vertical-align: middle;
          margin-right: 8px;
        }
      }

      .progress-complete {
        display: none;
      }

      .progress-info {
        font-size: $small-font-size;
        margin: 0 0 6px;
        padding: 0 $base-spacing;

        @include breakpoint(large) {
          text-align: right;
          margin: 0 0 $base-spacing 0;
          padding: 26px $base-spacing 0;
        }
      }
    }

    .progress-bar {
      margin: $base-spacing 0;

      @include breakpoint(large) {
        margin: $base-spacing 0 $base-spacing * 2;
      }

      .wrapper {
        padding: 0 $base-spacing;
      }

      .progress-total {
        display: block;
        width: 100%;
        height: 16px;
        background-color: $light-gray;
        border-radius: $base-border-radius;
      }

      .progress-done {
        display: block;
        height: 16px;
        background-color: $brand-primary;
        border-top-left-radius: $base-border-radius;
        border-bottom-left-radius: $base-border-radius;
        margin-top: -16px;
      }
    }

    .progress-steps {
      font-size: $h1-font-size-mobile;
      line-height: $h1-line-height-mobile;
      font-weight: 300;
      color: $mid-gray;
      margin-bottom: -8px;

      @include breakpoint(medium) {
        font-size: $h1-font-size;
        line-height: $h1-line-height;
      }

      @include breakpoint(large) {
        margin-bottom: -72px;
      }

      .wrapper {
        padding-left: $base-spacing;
      }

      em {
        color: $brand-primary;
        font-style: normal;
      }
    }
  }

  article {
    width: 100%;
    max-width: 520px;
    padding: $base-spacing $base-spacing 40px;
    margin: 0 auto;

    &.top {
      padding-bottom: 0;
    }

    &.bottom {
      padding-top: $base-spacing;
    }

    &.no-progress-header {
      @include breakpoint(medium) {
        padding-top: 160px;
      }
    }
  }

  footer {
    position: relative;
    background-color: $mid-gray;
    padding: $small-spacing 0;

    .footer-info {
      position: relative;

      a {
        &:link,
        &:active,
        &:visited {
          display: block;
          color: $dark-gray;
          text-align: left;
          padding-left: $base-spacing;
          padding-right: $base-spacing * 2.5;

          @include breakpoint(medium) {
            text-align: right;
          }
        }

        &::after {
          position: absolute;
          top: 0;
          right: $base-spacing;
          content: url('/images/grey-cross-icon.svg');
        }
      }
    }
  }

  .participant-info {
    border: 1px solid $mid-gray;
    height: 400px;
    overflow: scroll;
    margin: 0 24px;
    padding: 0 24px;
  }

  .participant-info_inner {
    width: 100%;
    max-width: 472px;
    margin: 0 auto;
    padding: 24px 0;
  }

  .why-important {
    font-size: $small-font-size;
    line-height: Ssmall-line-height;
    margin: 24px 0;
  }

  &.is-complete {
    .section-title {
      background-color: $brand-primary;

      h1 {
        color: $white;

        .steps {
          color: $dark-text-color;

          em {
            color: $white;
          }
        }
      }
    }

    .progress-header {
      background-color: $brand-primary;
      border-bottom: 1px solid $white;

        hr {
          background-color: $dark-gray;
        }

      .progress-duration {
        display: none;
      }

      .progress-complete {
        display: block;
        color: $white;
      }
    }

    article{
      display: none;
    }
  }
}
