.ribbon-wrapper {
  position: relative;
  z-index: 1;
}

.ribbon {
  width: 50%;
  position: relative;
  background: $brand-primary;
  color: $white;
  text-align: center;
  padding: $small-spacing / 2 $base-spacing;
  margin: $base-spacing auto $base-spacing * 2;
}
.ribbon::before, .ribbon::after {
  content: "";
  width: 2 * $base-spacing;
  position: absolute;
  display: block;
  bottom: -1 * $base-spacing;
  border: $small-spacing * 1.5 solid shade( $brand-primary, 10% );
  z-index: -1;
}
.ribbon::before {
  left: -2.75 * $base-spacing;
  border-right-width: $base-spacing;
  border-left-color: transparent;
}
.ribbon::after {
  right: -2.75 * $base-spacing;
  border-left-width: $base-spacing;
  border-right-color: transparent;
}
.ribbon .ribbon-content::before, .ribbon .ribbon-content::after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: shade( $brand-primary, 25% ) transparent transparent transparent;
  bottom: -$base-spacing;
}
.ribbon .ribbon-content::before {
  left: 0;
  border-width: $base-spacing 0 0 $base-spacing;
}
.ribbon .ribbon-content::after {
  right: 0;
  border-width: $base-spacing $base-spacing 0 0;
}
