.panel--session-start {
  footer {
    background-color: $light-gray;
    padding: $small-spacing $base-spacing;
    margin-top: 64px;

    .footer-info {
      font-size: $small-font-size;
      line-height: $small-line-height;

      a {
        &:link,
        &:active,
        &:visited {
          display: block;
          text-align: left;
        }
      }

      img {
        padding-right: 8px;
      }
    }
  }
}

.session-panel {
  margin: $base-spacing;

  h3 {
    margin: 0 0 24px;
  }
}

.session-panel--dark {
  background-color: $light-gray;
  padding: $base-spacing $base-spacing $base-spacing * 2;
  margin-top :$base-spacing * 2
}

.session-weeks {
  @include flexbox($justify-content: centre, $flex-wrap: wrap, $align-items: center);
  margin: 16px 0;
}

.session-week {
  position: relative;
  width: 16.6%;
  min-width: 120px;
  margin-bottom: 4px;
}

.session-week_heading,
.session-week_status {
  width: 100%;
  font-size: $small-font-size;
  line-height: $small-line-height;
  font-weight: 400;
  background-color: $light-gray;
  text-align: left;
  padding: 0 8px;
  border-bottom: 1px solid $white;
  border-right: 1px solid $white;

  &::before {
    content: '\2009';
  }
}

.session-week_heading {
  .is-started & {
    color: $white;
    background-color: $brand-tertiary;
  }

  .is-done & {
    color: $white;
    background-color: $brand-primary;
  }
}

.session-week_status {
  position: relative;

  .session-week_progress {
    position: absolute;
    left: 0;
    width: 0;
    background-color: $mid-gray;

    &::before {
      content: '\2009';
    }
  }

  .session-week_text {
    position: absolute;
    left: 6px;
    background-color: transparent;
  }
}

.session-progress {
  @include flexbox($justify-content: centre, $flex-wrap: wrap, $align-items: center)
}

.session-progress_week {
  @include flexbox($justify-content: space-between, $flex-wrap: nowrap, $align-items: center)
  width: 16.6%;
  min-width: 120px;
  padding: 0 11px 0 11px;
  border-right: 1px solid $light-gray;

  &:last-child {
    border-right: none;
  }
}

.session-progress_task {
  width: 33.3%;
  height: 96px;
  font-size: $small-font-size;
  line-height: $small-line-height;
  text-align: center;
  padding-top: 36px;
  border-left: 1px solid $white;
  border-right: 1px solid $white;
  background-color: $light-gray;
  margin-bottom: 4px;

  &:first-child {
    border-top-left-radius: $base-border-radius;
    border-bottom-left-radius: $base-border-radius;
  }

  &:last-child {
    border-top-right-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
  }

  &.is-next {
    background-color: $mid-gray;
  }

  &.is-started {
    color: $white;
    background-color: $brand-tertiary;
  }

  &.is-done {
    color: $white;
    background-color: $brand-primary;
  }
}

.key-statistics {
  @include breakpoint(large) {
    @include flexbox($justify-content: center, $flex-wrap: wrap, $align-items: top);
  }
}

.key-statistic {
  width: 100%;
  max-width: 472px;
  font-size: $small-font-size;
  line-height: $small-line-height;
  text-align: center;
  border-bottom: 1px solid $mid-gray;
  margin: 0 auto;
  padding: 0 $small-spacing;

  @include breakpoint(large) {
    border-right: 1px solid $mid-gray;
    border-bottom: none;

    &.flex-2 { width: 50%; }
    &.flex-3 { width: 33.3%; }
    &.flex-4 { width: 25%; }
    &.flex-5 { width: 20%; }
  }

  &:last-child {
    border: none;
  }

  .stat {
    display: block;
    font-size: $h1-font-size;
    line-height: $h1-line-height;
    font-weight: $h1-font-weight;
    color: $brand-primary;
  }
}

.achievements {
  text-align: center;

  @include breakpoint(large) {
    @include flexbox($justify-content: center, $flex-wrap: wrap, $align-items: top);
  }
}

.achievement {
  width: 100%;
  max-width: 472px;
  font-size: $small-font-size;
  line-height: $small-line-height;
  padding: $small-spacing;
  margin: 0 auto;
  border-bottom: 1px solid $light-gray;

  @include breakpoint(large) {
    width: 16.6%;
    padding: 0 $small-spacing;
    border-right: 1px solid $light-gray;
    border-bottom: none;
  }

  &:last-child {
    border: none;
  }

  .icon {
    width: 96px;
    height: 96px;
    margin: 0 auto 8px;
    background: url('/images/1-2-3-bg.png') center center no-repeat;
    background-size: cover;
  }

  h4 {
    color: $base-font-color;
    margin-bottom: 0;
  }

  p {
    color: $mid-gray;
    margin-bottom: 0;
  }

  &.is-started {
    .icon {
      background-image: url('/images/1-2-3-grey.png');
    }

    h4 {
      color: $alt-font-color;
    }

    p {
      color: $base-font-color;
    }
  }

  &.is-done {
    .icon {
      background-image: url('/images/1-2-3-color.png');
    }

    h4 {
      color: $brand-primary;
    }

    p {
      color: $alt-font-color;
    }
  }
}


.button--session-start {
  width: 100%;
  height: 120px;
  background-color: $brand-tertiary;
  border-bottom: 8px solid shade($brand-tertiary, 20%);
  font-size: 32px;
  font-weight: 400;
  margin: 0;

  @include breakpoint(medium) {
    height: 120px;
    font-size: 40px;
  }

  &:hover,
  &:focus {
    background-color: shade($brand-tertiary, 20%);
  }

  &::before {
    content: "Next task \2192";
    display: block;
    text-align: center;
    font-size: 20px;
    color: $mid-gray;
    padding: 12px 0 18px;
  }

  &.disabled {
    background-color: $light-gray;
    color: $dark-gray !important;

    &::before {
      color: $mid-gray;
    }
  }
}

.personal-goal,
.sessions-completed,
.your-achievements {
  position: relative;
  margin-top: $base-spacing * 3;
  border-top: 1px solid $brand-primary;
  padding-top: $base-spacing * 2.5;

  &::before {
    position: absolute;
    top: -50px;
    content: "\00a0";
    display: block;
    background: $white url(/images/personal-goal-icon.svg) 50% 0 no-repeat;
    background-size: 100px;
    width: 100px;
    height: 100px;
    padding: 0 $small-spacing;
    left: calc(50% - 62px);
  }
}

.sessions-completed {
  &::before {
    background-image: url('/images/sessions-completed-icon.svg');
  }
}

.your-achievements {
  &::before {
    background-image: url('/images/achievements-icon.svg');
  }
}
