.slider {
  @include clearfix;
  position: relative;
  width: 100%;
  margin: $base-spacing * 1.5 auto $base-spacing * 2;
  background-color: $light-gray;
  box-shadow: 0 1px 3px $mid-gray inset;

  .slider_fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0.8em;
    background-color: $brand-primary;
    transition: width .5s ease-in-out;
  }
}

.slider_labels {
  @include flexbox($justify-content: space-between);
  position: relative;
  left: -4px;
  margin-top: $base-spacing;

  .slider_label {
    width: 0;
    overflow: visible;
    font-size: $small-font-size;
    line-height: $small-line-height;
    color: $brand-secondary;

    &:last-child {
      position: relative;
      left: -6px;
    }
  }
}

.slider-guides {
  @include flexbox($justify-content: space-between);

  span {
    font-size: $small-font-size;
    line-height: $small-line-height;
  }
}
