svg.timer-icon {
  height: 33px !important;
  width: 33px !important;
  vertical-align: middle;
}

span.timer-icon {
  position: relative;
  left: 2px;
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;

}
