@charset "UTF-8";

@mixin flexbox(
    $display: flex,
    $flex-direction: row,
    $flex-wrap: wrap,
    $justify-content: space-around,
    $align-items: start
  ) {
  display: $display;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}
