{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% block content %}
  <section class="panel panel--dashboard">
    <article>
      <h1>Welcome to your dashboard</h1>
      <p>The dashboard is your personalised homepage for Train For The Brain where you’ll see everything you need to progress throught he sessions.</p>
      <p>We'll walk you through you through the elements fo the dashboard. To see this tutorial again,click 'replay tutorial' on the dashboard.</p>

      <div class="form-actions">
        <a class="button button--next" href="tutorial-1.html">Start tutorial</a>
      </div>
    </article>
  </div>
  </section>
{% endblock %}
