{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Your exercise diary",
        info = "" | safe,
        duration = 10,
        step = 6,
        steps = 6
      )
    }}

    <article>
      <h1>Sitting</h1>
      <p>The last question is about the time you spent sitting on weekdays during the last 7 days. Include time spent at work, at home, while doing course work and during leisure time. This may include time spent sitting at a desk, visiting friends, reading, or sitting or lying down to watch television.</p>
      {% call form.form("t4tb", "exercise-diary-5.html", "measures-3.html") %}
        {{ form.text2("During the last 7 days, how much time did you spend sitting on a week day?", "sitting-hours", "Hours per day", "text", "", "sitting-minutes", "Minutes per day", "text", "") }}
        {{ form.checkboxes("sitting", "", ["Don't know/not sure"]) }}
      {% endcall %}
      <p><a id="ipaq-open" class="modal-open" href="#ipaq">This question is based on the International Physical Activity Questionnaire (IPAQ) – click here to find out more</a></p>
    </article>

    {{ section.footer( info = "<a id=\"exit-measures-open\" class=\"modal-open\" href=\"#exit-measures\">Cancel and return to measures and goals</a>" | safe ) }}

  </section>
{% endblock %}
