{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% set page = {
    previous: "exercise-diary-update-7.html",
    next: "exercise-diary-update-start.html"
  }
%}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Your exercise diary",
        info = "",
        duration = 10,
        step = 7,
        steps = 7
      )
    }}

    <article>
      <h1>Have you had any ill health during the last 7 days?</h1>
      <form id="sign-up" method="get" action="{{ page.next }}">
        {{ form.yesno("ill-health", "") }}
        {{ form.checkboxes("ill-health-options", "Please tick all that apply:", ["An unplanned emergency hospitalisation", "A fall", "A loss of consciousness", "A fracture", "A torn ligament", "Other"]) }}
        {{ form.text("ill-health-description", "Description") }}
        {{ form.text("ill-health-start-date", "Start date", "date") }}
        {{ form.text("ill-health-end-date", "End date", "date") }}
        {{ form.yesno("ill-health-hospitalisation", "Did this event lead to your hospitalization?") }}
        {{ form.yesno("ill-health-medication", "Did you start any medication due to this event?") }}
        {{ form.textarea("ill-health-list-medication", "Please list all medication taken as part of this event, including dosage and duration i.e. taken once per day for a week") }}
        {{ form.textarea("ill-health-comments", "Other comments") }}
        {{ form.actions( page.previous, page.next ) }}
      </form>
    </article>

    {{ section.footer( info = "<a href=\"/\">Cancel and return to home page</a>" | safe ) }}

  </section>
{% endblock %}
