{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{# % import "macros/modal.njk" as modal % #}

{% set page = {
    previous: "exercise-diary-2.html",
    next: "exercise-diary-3.html"
  }
%}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Your exercise diary",
        info = "" | safe,
        duration = 10,
        step = 2,
        steps = 6
      )
    }}

    <article>
      <h1>Do you have a device that records your step count?</h1>
      <form id="t4tb" method="get" action="{{ page.next }}">
        {{ form.yesno("has-device", "") }}
        {{ form.text("daily-steps", "Over the last 7 days, what is you average daily stepcount?", "number") }}
        {{ form.checkboxes( "device-type", "What device records your stepcount?", ["Smartphone e.g. Apple/Android phone", "Worn device e.g. Fitbit", "Pedometer"] ) }}
        {{ form.textarea("device-other", "Other - please specifiy") }}
        {{ form.actions( page.previous, page.next ) }}
      </form>
    </article>

    {{ section.footer( info = "<a id=\"exit-measures-open\" class=\"modal-open\" href=\"#exit-measures\">Cancel and return to measures and goals</a>" | safe ) }}

  </section>
{% endblock %}
