{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% set page = {
    previous: "exercise-diary-1.html",
    next: "exercise-diary-2a.html"
  }
%}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Your exercise diary",
        info = "" | safe,
        duration = 10,
        step = 2,
        steps = 6
      )
    }}

    <article>
      <h1>Do you have a device that records your step count?</h1>
      <form id="diary" method="get" action="{{ page.next }}">
        {{ form.yesno("has-device", "") }}
        {{ form.actions( page.previous, page.next ) }}
      </form>
    </article>

    {{ section.footer( info = "<a href=\"measures-2.html\">Cancel and return to measures and goals</a>" | safe ) }}

  </section>
{% endblock %}
