{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Your exercise diary",
        info = "" | safe,
        duration = 10,
        step = 2,
        steps = 6
      )
    }}

    <article>
      <h1>Do you have a device that records your step count?</h1>
      {% call form.form("t4tb", "exercise-diary-2.html", "exercise-diary-3.html") %}
        {{ form.yesno("has-device", "", required=true) }}
        {{ form.text("daily-steps", "Over the last 7 days, what is you average daily stepcount?", "number", required=true) }}
        {{ form.checkboxes( "device-type", "What device records your stepcount?", ["Smartphone e.g. Apple/Android phone", "Worn device e.g. Fitbit", "Pedometer"]) }}
        {{ form.textarea("device-other", "Other - please specifiy") }}
      {% endcall %}
    </article>

    {{ section.exit_link( info = "<a id=\"exit-measures-open\" class=\"modal-open\" href=\"#exit-measures\">Cancel and return to measures and goals</a>") }}

  </section>
{% endblock %}
