{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{# % import "macros/modal.njk" as modal % #}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Your exercise diary",
        info = "" | safe,
        duration = 10,
        step = 4,
        steps = 6
      )
    }}

    <article>
      <h1>Moderate activities</h1>
      <p>Think about all the moderate activities that you did in the last 7 days. Moderate activities refer to activities that take moderate physical effort and make you breathe somewhat harder than normal. Think only about those physical activities that you did for at least 10 minutes at a time.</p>
      {% call form.form("t4tb", "exercise-diary-3.html", "exercise-diary-5.html") %}
        {{ form.radios( "moderate-activity-days", "During the last 7 days, on how many days did you do moderate physical activities like carrying light loads, bicycling at a regular pace, or doubles tennis? Do not include walking.<br><br>Include any exercise you carry out as part of the Train for the Brain programme." | safe, ["0 days", "1 day", "2 days", "3 days", "4 days", "5 days", "6 days", "7 days"] , required=true) }}
        {{ form.text2("How much time did you usually spend doing moderate physical activities on one of those days?", "moderate-activity-hours", "Hours per day", "text", "", "moderate-activity-minutes", "Minutes per day", "text", "" , required=true) }}
        {{ form.checkboxes("moderate-activity", "", ["Don't know/not sure"], required=true) }}
      {% endcall %}
      <p><a id="ipaq-open" class="modal-open" href="#ipaq">This question is based on the International Physical Activity Questionnaire (IPAQ) – click here to find out more</a></p>
    </article>

    {{ section.footer( info = "<a id=\"exit-measures-open\" class=\"modal-open\" href=\"#exit-measures\">Cancel and return to measures and goals</a>" | safe ) }}

  </section>
{% endblock %}
