{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Your exercise diary",
        info = "" | safe,
        duration = 10,
        step = 2,
        steps = 6
      )
    }}

    <article>
      <h1>Do you have a device that records your step count?</h1>
      {% call form.form("t4tb", "exercise-diary-1.html", "exercise-diary-2a.html") %}
        {{ form.yesno("has-device", "", required=true) }}
      {% endcall %}
    </article>

    {{ section.footer( info = "<a id=\"exit-measures-open\" class=\"modal-open\" href=\"#exit-measures\">Cancel and return to measures and goals</a>" | safe ) }}

  </section>
{% endblock %}
