{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Your exercise diary",
        info = "" | safe,
        duration = 10,
        step = 5,
        steps = 6
      )
    }}

    <article>
      <h1>Walking</h1>
      <p>Think about the time you spent walking in the last 7 days. This includes at work and at home, walking to travel from place to place, and any other walking that you have done solely for recreation, sport, exercise, or leisure.</p>
      {% call form.form("t4tb", "exercise-diary-4.html", "exercise-diary-6.html") %}
        {{ form.radios( "walking-days", "During the last 7 days, on how many days did you walk for at least 10 minutes at a time?<br><br>Include any exercise you carry out as part of the Train for the Brain programme." | safe, ["0 days", "1 day", "2 days", "3 days", "4 days", "5 days", "6 days", "7 days"] , required=true) }}
        {{ form.text2("How much time did you usually spend walking on one of those days?", "walking-hours", "Hours per day", "text", "", "walking-minutes", "Minutes per day", "text", "") }}
        {{ form.checkboxes("walking", "", ["Don't know/not sure"]) }}
      {% endcall %}
      <p><a id="ipaq-open" class="modal-open" href="#ipaq">This question is based on the International Physical Activity Questionnaire (IPAQ) – click here to find out more</a></p>
    </article>

    {{ section.exit_link( info = "<a id=\"exit-measures-open\" class=\"modal-open\" href=\"#exit-measures\">Cancel and return to measures and goals</a>" | safe ) }}

  </section>
{% endblock %}
