{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Your exercise diary",
        info = "" | safe,
        duration = 10,
        step = 7,
        steps = 7
      )
    }}

    <article>
      <h1>Have you had any ill health during the last 7 days?</h1>
      {% call form.form("t4tb", "exercise-diary-update-7.html", "exercise-diary-update-7b.html") %}
        {{ form.yesno("ill-health", "", required=true) }}
        {{ form.checkboxes("ill-health-had", "Please tick all that apply:", ["An unplanned emergency hospitalisation", "A fall", "A loss of consciousness", "A fracture", "A torn ligament", "Other"], required=true) }}
      {% endcall %}
      <p><a id="ill-health-open" class="modal-open" href="#ill-health">What do we mean by 'ill-health'?</a></p>
    </article>

    {{ section.exit_link( info = "<a id=\"exit-dashboard-open\" class=\"modal-open\" href=\"#exit-dashboard\">Cancel and return to dashboard</a>" | safe ) }}

  </section>
{% endblock %}
