{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% block content %}
  <section class="panel panel--progress">
    <article>
      <h1>Information for GPs</h1>

<p>Dear General Practitioner,</p>

<p>You have been directed to this page as your patient has shown interest in participating in our online exercise study, called Train for the Brain. We would like to thank you in advance for any assistance or support which you may provide for our project. Exercise is a great way of staying healthy but it can sometimes increase the risk of an adverse reaction, especially in those who have a pre-existing condition or an ongoing health problem.</p>
<p>With this in mind, we have advised your patient to seek your consult and discuss any health concerns they have around their fitness to participate. To assist you in this, we would like to offer you some information on the study and the exercise programmes your patient may be getting involved in.</p>

<h2>What is Train for the Brain?</h2>
<p>Train for the Brain is a double blind, randomized controlled trial looking to examine the feasibility of an online self-directed exercise intervention in older adults. The study is open to all UK based volunteers over the age of 50 who have access to a computer and who do not have a medical diagnosis of dementia.</p>
<p>The study will be delivered online for a period of six months, during which time participants will be encouraged to complete a six-week physical exercise regime – treatment or control.</p>
<p>As part of the study, participants will also complete a number of assessments on cognition, mood, goal attainment and physical health. The study has received ethical approval by the .... (ref no..) and is being conducted by King’s College London and the University of Exeter.</p>

<h2>Why has my patient been invited?</h2>
<p>Your patient has been invited to take part in this study as he/she is part of the Platform for Research Online to investigate Cognition and Genetics in Ageing (PROTECT). PROTECT is a 10- year study looking to determine the role of genetics, lifestyle and medical factors on cognition. It also has the added function of providing a unique platform for online clinical trial delivery, and will be supporting the delivery of the Train for the Brain study.</p>
<p>PROTECT is ‘home’ for a cohort of over 20,000 adults over the age of 50 and has already hosted two large clinical trials with success. PROTECT has ethical approval from the NHS Research Ethics Service Committee for London Bridge (Ref: 13/ LO/1578).</p>
<p>PROTECT is ‘home’ for a cohort of over 20,000 adults over the age of 50 and has already hosted two large clinical trials with success. PROTECT has ethical approval from the NHS Research Ethics Service Committee for London Bridge (Ref: 13/ LO/1578).</p>

<h2>What do the exercise programmes involve?</h2>
<p>Should your patient decide to take part in the study, they will be randomly allocated to a treatment or control group.</p>

<h2>Treatment group (‘Train for the Brain’)</h2>
<p>As part of the study’s safety measures, participants will automatically be placed into one of three ability-dependent exercise groups before commencing on the Train for the Brain exercise programme. Stratification will be based on information reported by the participant regarding their medical history and current level of physical fitness.</p>
<p>Participants who require the assistance of a walking aid or who report a recent cardiovascular condition and/ or frequent falls, will automatically be placed in our low-intensity activity group. Once stratified, your patient will be encouraged to complete 150 minutes of physical activity a week in bouts of 30 minute exercise sessions.</p>
<p>The Train for the Brain intervention comprises a variety of video workouts and a complementary walking programme, and has been designed with the focus on meeting the physical activity needs of older adults.</p>
<p>Each workout is pre-recorded and led by a physiotherapist or dance therapist who provides step-by-step, verbal and visual instructions to ensure correct workout execution and help avoid participant injury.</p>
<p>The sessions comprise a 5 minute mandatory warm up, 20 minutes of self-elected exercise chosen from a variety of aerobics, dance, Pilates and cardiovascular work, and a 5 minute cool down.</p>
<p>The intervention will last for a duration of six weeks; each week commencing with a short, educational welcome video containing interviews of experts in the field and written information on the benefits of physical activity. The intervention is delivered purely online and participants will be able to access their sessions from the comfort of their own home.</p>

<h2>Control group</h2>
<p>If your patient is allocated to the control group we will provide them with written information on government recommended physical activity guidelines for older adults. This will consist of brief information on the benefits and the optimal duration and length of physical activity, as well as some ideas and examples of physical activities that can be taken. This information will be available to participants for a duration of six weeks.</p>

<h3>Adverse events</h3>
<p>Your patient will be monitored throughout the course of the study for the presence of adverse events. This information will be collected on a weekly basis through a self-reported electronic case report form (eCRF) and direct notification from the participant, their family or yourself. The information will be reviewed and recorded by a qualified clinician within our team.</p>
<p>All serious adverse events that are unexpected and deemed to be related to the trial will be reported to the Research Ethics Committee by the study Principal Investigator, Dr Anne Corbett. In the unlikely event of an adverse reaction, we may contact your patient and/or your practice to collect further information.</p>

<h2>Further information</h2>
<p>As this is a double-blind, placebo controlled study our participants will not be informed of the specific content of the exercise programmes (treatment or control). With this in mind, we would appreciate your cooperation and help in ensuring that our participants remain blinded to their treatment.</p>
<p>For further information on this study please read the participant information sheet or contact us by email, telephone, fax or letter.</p>

<p><a href="mailto:admin@protectstudy.org.uk">admin@protectstudy.org.uk</a></p>
<p>Telephone: 020 7848 8183</p>

<p>PROTECT study</p>
<br>Clinical Trials Team
<br>Wolfson Centre for Age-Related Diseases Guy’s Campus,
<br>King’s College London
<br>London SE1 1UL</p>

    </article>
  </section>
{% endblock %}
