{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{% import "macros/video.njk" as video %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Physical fitness measures",
        info = "<a id=\"why-important-open\" class=\"modal-open\" href=\"#why-important\">Why is this important?</a>" | safe,
        duration = 15,
        step = 1,
        steps = 5
      )
    }}

    <article class="top">
      <h1>Measuring your progress</h1>
    </article>

    <div class="wrapper">
      {{ video.video() }}
    </div>

    <article class="bottom">
      <div class="form-actions">
        <a class="button button--next" href="{{ page.next }}">Continue</a>
      </div>
    </article>

    {{ section.exit_link( info = "<a id=\"exit-dashboard-open\" class=\"modal-open\" href=\"#exit-dashboard\">Cancel and return to dashboard</a>") }}

  </section>
{% endblock %}
