{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% set page = {
    previous: "#",
    next: "#",
    next_label: "Begin survey"
  }
%}

{% block content %}
  <section class="panel panel--progress">
    <article>
      <h1>One more thing&hellip;</h1>
      <p>Thank you for taking part in the study, we hope you have enjoyed it and found it useful in helping you achieve your goals.</p>
      <p>We would be really grateful if you complete this survey, to provide feedback and help us improve Train for the Brain..</p>
      <form id="sign-up" method="get" action="{{ page.next }}">
        {{ form.actions( page.previous, page.next, next_label = page.next_label ) }}
      </form>
    </article>
  </section>
{% endblock %}
