{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{# % import "macros/modal.njk" as modal % #}

{% block content %}
  <section class="panel panel--progress">
    <article>
      <h1>One more thing&hellip;</h1>
      <p>Thank you for taking part in the study, we hope you have enjoyed it and found it useful in helping you achieve your goals.</p>
      <p>We would be really grateful if you complete this survey, to provide feedback and help us improve Train for the Brain..</p>
      {% call form.form("t4tb", previous_label = "Go back", next_label = "Begin survey") %}
      {% endcall %}
    </article>
  </section>
{% endblock %}
