{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{% import "macros/video.njk" as video %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Physical fitness measures",
        info = "<a id=\"why-important-open\" class=\"modal-open\" href=\"#why-important\">Why is this important?</a>" | safe,
        step = 3,
        steps = 5
      )
    }}

    <article class="top">
      <h1>2 minute step test</h1>
    </article>

    <div class="wrapper">
      {{ video.video() }}
    </div>

    <article class="bottom">
      <p>Please note, do not run for this test.</p>
      <p>After watching the video, enter how many times you can step your right leg up in 2 minutes.</p>
      {% call form.form("t4tb", "physical-fitness-2a.html", "physical-fitness-3a.html") %}
        {{ form.text("steps-2-minute", "Number of right leg lifts completed in 2 minutes", "number", required=true) }}
      {% endcall %}
    </article>

    {{ section.exit_link( info = "<a id=\"exit-measures-open\" class=\"modal-open\" href=\"#exit-measures\">Cancel and return to measures and goals</a>" | safe ) }}

  </section>
{% endblock %}
