{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% set page = {
    previous: "physical-fitness-2a.html",
    next: "physical-fitness-3a.html"
  }
%}

{% block content %}
  <section id="sign-up" class="panel panel--progress">

    {{ section.header(
        title = "Physical fitness measures",
        info = "<a href=\"#\">Why is this important?</a>" | safe,
        step = 3,
        steps = 5
      )
    }}

    <article>
      <h1>2 minute step test</h1>
      <div class="video">
        <div class="video-wrapper">
          <iframe src="http://www.youtube.com/embed/8ItNE_DX6Cc?showinfo=0&iv_load_policy=3&controls=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <p>Please note, do not run for this test.</p>
      <p>After watching the video, enter how many times you can step your right leg up in 2 minutes.</p>
      <form id="register" method="get" action="{{ page.next }}">
        {{ form.text("steps-2-minute", "Number of right leg lifts completed in 2 minutes", "number") }}
        {{ form.actions( page.previous, page.next ) }}
      </form>
    </article>

    {{ section.footer( info = "<a href=\"/\">Cancel and return to home page</a>" | safe ) }}

  </section>
{% endblock %}
