{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% set page = {
    previous: "physical-fitness-1a.html",
    next: "physical-fitness-2a.html"
  }
%}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Physical fitness measures",
        info = "<a href=\"#\">Why is this important?</a>" | safe,
        step = 2,
        steps = 5
      )
    }}

    <article>
      <h1>Timed chair stand test</h1>
      <div class="video">
        <div class="video-wrapper">
          <iframe src="http://www.youtube.com/embed/8ItNE_DX6Cc?showinfo=0&iv_load_policy=3&controls=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <p>After watching the video, enter how many seconds it takes for you to stand up and sit down from a chair 10 times in a row.</p>
      <form id="register" method="get" action="{{ page.next }}">
        {{ form.text("chair-stands-time", "Number of seconds needed to complete 10 chair stands", "number") }}
        {{ form.actions( page.previous, page.next ) }}
      </form>
      <p><a href="/">Why is this important?</a></p>
    </article>

    {{ section.footer( info = "<a href=\"measures-1.html\">Cancel and return to measures and goals</a>" | safe ) }}

  </section>
{% endblock %}
