{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{% import "macros/video.njk" as video %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Physical fitness measures",
        info = "<a id=\"why-important-open\" class=\"modal-open\" href=\"#why-important\">Why is this important?</a>" | safe,
        step = 1,
        steps = 5
      )
    }}

    <article class="top">
      <h1>Chair stand test</h1>
    </article>

    <div class="wrapper">
      {{ video.video() }}
    </div>

    <article class="bottom">
      <p>After watching this video, enter how many times you are able to stand up and sit down from a chair within 30 seconds. Please use a standard armchair (typically 17” or 43cm high).</p>
      {% call form.form("t4tb", "measures-1.html", "physical-fitness-1a.html") %}
        {{ form.text("chair-stand-number", "Number of chair stands completed in 30 seconds", "number", required=true) }}
        {{ form.yesno("help", "Did you require support from your hands when standing?", required=true) }}
        {{ form.slider("how-easy", "Please rate how difficult you found this test - 0 being effortless and 10 being maximum difficulty.", 0, 10, 1, "", "Minimum effort", "Maximum effort", required=true) }}
      {% endcall %}
    </article>

    {{ section.footer( info = "<a id=\"exit-measures-open\" class=\"modal-open\" href=\"#exit-measures\">Cancel and return to measures and goals</a>" | safe ) }}

  </section>
{% endblock %}
