{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{# % import "macros/modal.njk" as modal % #}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Physical fitness measures",
        info = "<a id=\"why-important-open\" class=\"modal-open\" href=\"#why-important\">Why is this important?</a>" | safe,
        step = 1,
        steps = 5
      )
    }}

    <article>
      <h1>Chair stand test complete</h1>
      <p>Well done!</p>
      <p>We have two more physical tests to do.</p>
      {% call form.form("t4tb", "physical-fitness-1.html", "physical-fitness-2.html") %}
      {% endcall %}
    </article>

    {{ section.footer( info = "<a id=\"exit-measures-open\" class=\"modal-open\" href=\"#exit-measures\">Cancel and return to measures and goals</a>" | safe ) }}

  </section>
{% endblock %}
