{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% set page = {
    previous: "physical-fitness-1.html",
    next: "physical-fitness-2.html"
  }
%}

{% block content %}
  <section id="sign-up" class="panel panel--progress">

    {{ section.header(
        title = "Physical fitness measures",
        info = "<a href=\"#\">What happens to my data?</a>" | safe,
        step = 1,
        steps = 5
      )
    }}

    <article>
      <h1>Chair stand test complete</h1>
      <p>Well done!</p>
      <p>We have two more physical tests to do.</p>
      <form id="register" method="get" action="{{ page.next }}">
        <div class="form-actions">
          <a class="button button--back secondary" href="{{ page.previous }}">Go back</a>
          <button class="button button--next" type="submit">Continue</button>
        </div>
      </form>
    </article>

    {{ section.footer( info = "<a href=\"/\">Cancel and return to home page</a>" | safe ) }}

  </section>
{% endblock %}
