{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% set page = {
    previous: "register-4.html",
    next: "register-thanks.html"
  }
%}

{% block content %}
  <section id="sign-up" class="panel panel--progress">

    {{ section.header(
        title = "Register for the study",
        info = "<a href=\"#\">What happens to my data?</a>" | safe,
        step = 5,
        steps = 5
      )
    }}

    <article>
      <h1>Please enter your sex</h1>
      <form id="register" method="get" action="{{ page.next }}">
        <div class="form-field-inline-group">
          <div class="form-field form-field--radio">
            <input id="sex-male" name="sex" type="radio" value="Male">
            <label for="sex-male">Male</label>
          </div>
          <div class="form-field form-field--radio">
            <input id="sex-female" name="sex" type="radio" value="Female">
            <label for="sex-female">Female</label>
          </div>
          <div class="form-field form-field--radio">
            <input id="sex-inter" name="sex" type="radio" value="Intersex">
            <label for="sex-inter">Intersex</label>
          </div>
        </div>
        <div class="form-actions">
          <a class="button button--back secondary" href="{{ page.previous }}">Go back</a>
          <button class="button button--next" type="submit">Continue</button>
        </div>
      </form>
    </article>

    {{ section.footer( info = "<a href=\"/\">Cancel and return to home page</a>" | safe ) }}

  </section>
{% endblock %}
