{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Register for the study",
        info = "<a id=\"why-important-open\" class=\"modal-open\" href=\"#why-important\">Why is the important?</a>" | safe,
        duration = 15,
        step = 3,
        steps = 5
      )
    }}

    <article>
      <h1>Please enter your address</h1>
      {% call form.form("t4tb", "register-2.html", "register-4.html") %}
        {{ form.select("address-list", "Please select your address from this list", ["11 Hazel Court, Stonestile Lane, Hastings, TN35 4PE","3a Cantelowes Road, London, NW1 9XH","100 High Street, Newtown, ZZ11 1ZZ"], required=true) }}
        {{ form.text("address-1", "Address", required=true)  }}
        {{ form.text("address-2", "")  }}
        {{ form.text("address-3", "")  }}
        {{ form.text("town", "Town", required=true)  }}
        {{ form.text("postcode", "Postcode", required=true)  }}
      {% endcall %}
    </article>

    {{ section.exit_link( info = "<a id=\"exit-home-open\" class=\"modal-open\" href=\"#exit-home\">Cancel and return to home page</a>") }}

  </section>
{% endblock %}
