{% extends "layouts/layout.njk" %}

{% set section = {
    title: "Register for the study",
    id: "register",
    class: "panel--progress",
    steps: {
      done: 6,
      total: 6
    },
    duration: 5,
    progress: false,
    page: {
      previous: "register-5.html",
      next: "/"
    }
  }
%}

{% block content %}
  <section id="sign-up" class="panel panel--progress">
    {% include "includes/panel-header.njk" %}
    <article>
      <h1>Thank you</h1>
      <p>Thank you for registering.</p>
      <div class="form-actions">
        <a class="button button--next" href="{{ section.page.next }}">Continue</a>
      </div>
    </article>
    {% include "includes/panel-footer.njk" %}
  </section>
{% endblock %}
