{% extends "layouts/layout.njk" %}

{% set section = {
    title: "Register for the study",
    id: "register",
    class: "panel--progress",
    steps: {
      done: 5,
      total: 6
    },
    duration: 5,
    progress: {
      time: true,
      info: true,
      bar: true,
      steps: true,
      cancel: true
    },
    page: {
      previous: "register-4.html",
      next: "register-thanks.html"
    }
  }
%}


{% block content %}
  <section id="sign-up" class="panel panel--progress">
    {% include "includes/panel-header.njk" %}
    <article>
      <h1>Please enter your sex</h1>
      <form id="register" method="get" action="{{ section.page.next }}">
        <div class="form-field-inline-group">
          <div class="form-field form-field--radio">
            <input id="sex-male" name="sex" type="radio" value="Male">
            <label for="sex-male">Male</label>
          </div>
          <div class="form-field form-field--radio">
            <input id="sex-female" name="sex" type="radio" value="Female">
            <label for="sex-female">Female</label>
          </div>
          <div class="form-field form-field--radio">
            <input id="sex-inter" name="sex" type="radio" value="Intersex">
            <label for="sex-inter">Intersex</label>
          </div>
        </div>
        <div class="form-actions">
          <a class="button button--back secondary" href="{{ section.page.previous }}">Go back</a>
          <button class="button button--next" type="submit">Continue</button>
        </div>
      </form>
    </article>
    {% include "includes/panel-footer.njk" %}
  </section>
{% endblock %}
