{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{# % import "macros/modal.njk" as modal % #}

{% set page = {
    previous: "/",
    next: "register-2.html"
  }
%}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Register for the study",
        info = "<a id=\"why-important-open\" class=\"modal-open\" href=\"#why-important\">Why is the important?</a>" | safe,
        duration = 15,
        step = 1,
        steps = 5
      )
    }}

    <article>
      <h1>Please enter your name and email address</h1>
      <form id="t4tb" method="get" action="{{ page.next }}">
        {{ form.text2("", "first-name", "First name", "text", "", "last-name", "Last name", "text", "", required=true) }}
        {{ form.text("email", "Email address", "email", required=true) }}
        {{ form.actions( page.previous, page.next ) }}
      </form>
    </article>

    {{ section.footer( info = "<a id=\"exit-home-open\" class=\"modal-open\" href=\"#exit-home\">Cancel and return to home page</a>" | safe ) }}

  </section>
{% endblock %}
