{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{# % import "macros/modal.njk" as modal % #}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Review your goals",
        info = "<a id=\"why-important-open\" class=\"modal-open\" href=\"#why-important\">Why is the important?</a>" | safe,
        duration = 5,
        step = 1,
        steps = 3
      )
    }}

    <article>
      <h1>Reviewing your goals</h1>
      <p>At the beginning of the programme, you set two goals, we would like to review how you feel you have progressed.</p>
      {% call form.form("t4tb", "welcome-week-2.html", "review-goals-2.html") %}
      {% endcall %}
    </article>

    {{ section.footer( info = "<a id=\"exit-dashboard-open\" class=\"modal-open\" href=\"#exit-dashboard\">Cancel and return to dashboard</a>" | safe ) }}

  </section>
{% endblock %}
