{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% set page = {
    previous: "#",
    next: "#"
  }
%}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Review your goals",
        info = "<a href=\"#\">Why is the important?</a>" | safe,
        duration = 5,
        step = 2,
        steps = 3
      )
    }}

    <article>
      <h1>Physical exercise goal</h1>
      <p>Your first goal related to your physical fitness and the number of sit to stands you achieve in 30 seconds.</p>
      <p class="heading">Your initial goal was to be able to complete xxx chair stands in 30 seconds.</p>
      <p class="heading">You have completed your goal, well done!</p>
      <p class="heading">You will need to reset your physical exercise goal. We would recommend that you aim to be able to do XXX chair stands in 30 seconds over the coming weeks.</p>
      <form id="sign-up" method="get" action="{{ page.next }}">
        {{ form.actions( page.previous, page.next ) }}
      </form>
    </article>

    {{ section.footer( info = "<a href=\"#exit-dashboard\">Cancel and return to dashboard</a>" | safe ) }}

  </section>
{% endblock %}
