{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Review your goals",
        info = "<a id=\"why-important-open\" class=\"modal-open\" href=\"#why-important\">Why is the important?</a>" | safe,
        duration = 5,
        step = 3,
        steps = 3
      )
    }}

    <article>
      <h1>Personal goal</h1>
      <p>You have achieved your personal goal, well done!</p>
      <p>You will need to choose another personal goal that is important to you.</p>
      <p>Remember, it needs to be something that is achievable within the next 3 weeks and important to you.</p>
      {% call form.form("t4tb", "review-goals-3.html", "one-more-thing.html") %}
        {{ form.textarea("personal-goal", "Insert your personal goal", required=true) }}
      {% endcall %}
    </article>

    {{ section.footer( info = "<a id=\"exit-dashboard-open\" class=\"modal-open\" href=\"#exit-dashboard\">Cancel and return to dashboard</a>" | safe ) }}

  </section>
{% endblock %}
