{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{# % import "macros/modal.njk" as modal % #}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Review your goals",
        info = "<a id=\"why-important-open\" class=\"modal-open\" href=\"#why-important\">Why is the important?</a>" | safe,
        duration = 5,
        step = 2,
        steps = 3
      )
    }}

    <article>
      <h1>Physical exercise goal</h1>
      <p>Your first goal related to your physical fitness and the number of sit to stands you achieve in 30 seconds.</p>
      <p class="heading">Your initial goal was to be able to complete xxx chair stands in 30 seconds.</p>
      <p class="heading">In your most recent physical test you completed xxx chair stands in 30 seconds.</p>
      <p class="heading">You still need to work towards achieving this goal, keep working on it!</p>
      {% call form.form("review-goals-1.html", "review-goals-2a.html") %}
      {% endcall %}
    </article>

    {{ section.footer( info = "<a id=\"exit-dashboard-open\" class=\"modal-open\" href=\"#exit-dashboard\">Cancel and return to dashboard</a>" | safe ) }}

  </section>
{% endblock %}
