{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{% import "macros/video.njk" as video %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Session 1",
        info = "<a id=\"why-exercise-open\" class=\"modal-open\" href=\"#why-exercise\">Why is exercise important?</a>" | safe,
        duration = 40,
        step = 3,
        steps = 6,
        bg_color = "blue"
      )
    }}

    <article class="top">
      <h1>Pilates</h1>
    </article>

    <div class="wrapper">
      {{ video.video() }}
    </div>

    <article class="bottom">
      {% call form.form("t4tb", "session-1-2.html", "session-1-6.html") %}
      {% endcall %}
    </article>

    {{ section.exit_link( info = "<a id=\"exit-dashboard-open\" class=\"modal-open\" href=\"#exit-dashboard\">Cancel and return to dashboard</a>") }}

  </section>
{% endblock %}
