{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Session 1",
        info = "<a id=\"why-exercise-open\" class=\"modal-open\" href=\"#why-exercise\">Why is exercise important?</a>" | safe,
        duration = 40,
        step = 1,
        steps = 6,
        bg_color = "blue"
      )
    }}

    <article>
      <h1>Schedule</h1>
      {% call form.form("t4tb", "session-1-start.html", "session-1-2.html") %}
        {{ form.radio("warm-up", "Warm up", value = "Warm up", checked = "checked", duration = 10, required=true) }}
        <hr>
        {{ form.checkboxes("exercise", "Select your exercise preference (choose two)", ["Pilates", "Movement and dance", "Focus on your arms", "Focus on your legs", "General fitness"], [12, 15, 8, 11, 11], required=true, validation="data-parsley-mincheck=2 data-parsley-maxcheck=2") }}
        <hr>
        {{ form.radio("cool-down", "Cool down", value = "Cool down", checked = "checked", duration = 10, required=true) }}
        <hr>
        <p>Total session time</p>
        <div class="duration duration--40">40 mins</div>
        <hr>
      {% endcall %}
    </article>

    {{ section.footer( info = "<a id=\"exit-dashboard-open\" class=\"modal-open\" href=\"#exit-dashboard\">Cancel and return to dashboard</a>" | safe ) }}

  </section>
{% endblock %}
