{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{# % import "macros/modal.njk" as modal % #}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Session 1",
        info = "<a id=\"why-exercise-open\" class=\"modal-open\" href=\"#why-exercise\">Why is exercise important?</a>" | safe,
        duration = 40,
        step = 3,
        steps = 6,
        bg_color = "blue"
      )
    }}

    <article>
      <h1>Pilates</h1>
      <div class="video">
        <div class="video-wrapper">
          <iframe src="http://www.youtube.com/embed/8ItNE_DX6Cc?showinfo=0&iv_load_policy=3&controls=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      {% call form.form("session-1-2.html", "session-1-6.html") %}
      {% endcall %}
    </article>

    {{ section.footer( info = "<a id=\"exit-dashboard-open\" class=\"modal-open\" href=\"#exit-dashboard\">Cancel and return to dashboard</a>" | safe ) }}

  </section>
{% endblock %}
