{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{# % import "macros/modal.njk" as modal % #}

{% set page = {
    previous: "session-1-3.html",
    next: "session-1-6.html"
  }
%}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Session 1",
        info = "<a id=\"why-exercise-open\" class=\"modal-open\" href=\"#why-exercise\">Why is exercise important?</a>" | safe,
        duration = 40,
        step = 6,
        steps = 6,
        bg_color = "blue"
      )
    }}

    <article>
      <h1>Session done<br>Well done!</h1>
      <form id="t4tb" method="get" action="{{ page.next }}">
        {{ form.slider_1("enjoy-session", "Did you enjoy the session?", ["Not at all", "Not really", "It was OK", "It was good", "Loved it!"], "", "") }}
        <hr>
        {{ form.slider_1("how-easy", "How easy did you find it?", ["Very difficult", "Difficult", "OK", "Easy", "Very easy"], "", "") }}
        <hr>
        {{ form.actions( page.previous, page.next ) }}
      </form>
    </article>

    {{ section.footer( info = "<a id=\"exit-dashboard-open\" class=\"modal-open\" href=\"#exit-dashboard\">Cancel and return to dashboard</a>" | safe ) }}

  </section>
{% endblock %}
