{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{# % import "macros/modal.njk" as modal % #}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Setting your goals",
        info = "" | safe,
        duration = 5,
        step = 1,
        steps = 3
      )
    }}

    <article>
      <h1>Setting your goals</h1>
      <p>We recommend that you aim to set 2 goals that are achievable within the next 6 weeks.</p>
      {% call form.form("t4tb", "measures-3.html", "setting-goals-2.html") %}
      {% endcall %}
    </article>

    {{ section.footer( info = "<a id=\"exit-measures-open\" class=\"modal-open\" href=\"#exit-measures\">Cancel and return to measures and goals</a>" | safe ) }}

  </section>
{% endblock %}
