{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% set page = {
    previous: "measures-3.html",
    next: "setting-goals-2.html"
  }
%}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Setting your goals",
        info = "" | safe,
        duration = 5,
        step = 1,
        steps = 3
      )
    }}

    <article>
      <h1>Setting your goals</h1>
      <p>We recommend that you aim to set 2 goals that are achievable within the next 6 weeks.</p>
      <form id="sign-up" method="get" action="{{ page.next }}">
        {{ form.actions( page.previous, page.next ) }}
      </form>
    </article>

    {{ section.footer( info = "<a href=\"measures-3.html\">Cancel and return to measures and goals</a>" | safe ) }}

  </section>
{% endblock %}
