{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Setting your goals",
        info = "" | safe,
        duration = 5,
        step = 2,
        steps = 3
      )
    }}

    <article>
      <h1>Physical exercise goal</h1>
      <p>We would like to relate your first goal to your individual physical fitness results.</p>
      {% call form.form("t4tb", "setting-goals-1.html", "setting-goals-3.html") %}
        <label>We would recommend that you aim to be able to do XXX chair stands in 30 seconds over the coming weeks.</label>
      {% endcall %}
    </article>

    {{ section.exit_link( info = "<a id=\"exit-measures-open\" class=\"modal-open\" href=\"#exit-measures\">Cancel and return to measures and goals</a>") }}

  </section>
{% endblock %}
