{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Sign up to the study",
        info = "<a id=\"my-data-open\" class=\"modal-open\" href=\"#my-data\">What happens to my data?</a>" | safe,
        show_progress_bar = false,
        show_progress_steps = false,
        duration = 15
      )
    }}

    <article>
      <h1>We will save your progress on the programme for 2 weeks.</h1>
      {% call form.form("t4tb", "", "sign-up-7c.html", next_label = "Complete logout") %}
      {% endcall %}
    </article>

    {{ section.exit_link( info = "<a id=\"exit-home-open\" class=\"modal-open\" href=\"#exit-home\">Cancel and return to home page</a>") }}

  </section>
{% endblock %}

