{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{# % import "macros/modal.njk" as modal % #}

{% set page = {
    previous: "sign-up-3.html",
    next: "sign-up-5.html"
  }
%}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Sign up to the study",
        info = "<a id=\"my-data-open\" class=\"modal-open\" href=\"#my-data\">What happens to my data?</a>" | safe,
        duration = 15,
        step = 4,
        steps = 9
      )
    }}

    <article>
      <h1>Do you suffer from breathlessness at rest?</h1>
      <form id="t4tb" method="get" action="{{ page.next }}">
        {{ form.yesno("breathlessness", "", required=true) }}
        {{ form.actions( page.previous, page.next ) }}
      </form>
      <p><a id="why-important-open" class="modal-open" href="#why-important">Why is this important?</a></p>
    </article>

    {{ section.footer( info = "<a id=\"exit-home-open\" class=\"modal-open\" href=\"#exit-home\">Cancel and return to home page</a>" | safe ) }}

  </section>
{% endblock %}

