{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Sign up to the study",
        info = "<a id=\"my-data-open\" class=\"modal-open\" href=\"#my-data\">What happens to my data?</a>" | safe,
        show_progress_bar = false,
        show_progress_steps = false,
        duration = 15
      )
    }}

    <article>
      <h1>I have spoken to my GP and discussed my medical concerns.</h1>
      {% call form.form("t4tb", "", "sign-up-8.html", next_label = "Continue") %}
      <div class="form-field-group">
        {{ form.checkboxes("continue-participation", "", ["I confirm my GP has approved my participation and can continue to with the study", "Due to health concerns I am not going to participate with the study at this time"], required=true, validation="data-rule-mincheck=1 data-rule-maxcheck=1") }}
      </div>
      {% endcall %}
    </article>

    {{ section.footer( info = "<a id=\"exit-home-open\" class=\"modal-open\" href=\"#exit-home\">Cancel and return to home page</a>" | safe ) }}

  </section>
{% endblock %}

