{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% set page = {
    previous: "sign-up-5.html",
    next: "sign-up-7.html"
  }
%}

{% block content %}
  <section id="sign-up" class="panel panel--progress">

    {{ section.header(
        title = "Sign up to the study",
        info = "<a href=\"#\">What happens to my data?</a>" | safe,
        step = 6,
        steps = 9
      )
    }}

    <article>
      <h1>How many falls have you had within the last 12 months?</h1>
      <form id="sign-up" method="get" action="{{ page.next }}">
        <div class="form-field-group">
          <div class="form-field form-field--radio">
            <input id="fall-0" name="fall" type="radio" value="0" >
            <label for="fall-0">0</label>
          </div>
          <div class="form-field form-field--radio">
            <input id="fall-1" name="fall" type="radio" value="1" >
            <label for="fall-1">1</label>
          </div>
          <div class="form-field form-field--radio">
            <input id="fall-2" name="fall" type="radio" value="2" >
            <label for="fall-2">2</label>
          </div>
          <div class="form-field form-field--radio">
            <input id="fall-more" name="fall" type="radio" value="More than 2" >
            <label for="fall-more">More than 2</label>
          </div>
        </div>
        <div class="form-actions">
          <a class="button button--back secondary" href="{{ page.previous }}">Go back</a>
          <button class="button button--next" type="submit">Continue</button>
        </div>
      </form>
      <p><a href="/">Why is this important?</a></p>
    </article>

    {{ section.footer( info = "<a href=\"/\">Cancel and return to home page</a>" | safe ) }}

  </section>
{% endblock %}

