{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{# % import "macros/modal.njk" as modal % #}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Sign up to the study",
        info = "<a id=\"my-data-open\" class=\"modal-open\" href=\"#my-data\">What happens to my data?</a>" | safe,
        duration = 15,
        step = 9,
        steps = 9
      )
    }}

    <article>
      <h1>Consent</h1>
      {% call form.form("sign-up-9.html", "sign-up-thanks.html") %}
        <div class="consent-items">
          <div class="form-field-row consent-item">
            <p>I agree to take part in the Train for the Brain study</p>
            {{ form.checkbox("consent-last", "", required=true) }}
          </div>
          <p class="credentials">John Smith, 28th May 2017</p>
        </div>
      {% endcall %}
    </article>

    {{ section.footer( info = "<a id=\"exit-home-open\" class=\"modal-open\" href=\"#exit-home\">Cancel and return to home page</a>" | safe ) }}

  </section>
{% endblock %}

