{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{# % import "macros/modal.njk" as modal % #}

{% block content %}
  <section class="panel panel--progress">
    <article>
      <h1>Due to some of the information you have provided, we recommend that you visit your GP prior to starting the exercise programme and discuss this with them.</h1>
      {% call form.form("/", "sign-up-8.html", previous_label = "I will return later", next_label = "I will continue") %}
      {% endcall %}
    </article>

    {{ section.footer( info = "<a id=\"exit-home-open\" class=\"modal-open\" href=\"#exit-home\">Cancel and return to home page</a>" | safe ) }}

  </section>
{% endblock %}

