{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% set page = {
    previous: "sign-up-3.html",
    next: "sign-up-5.html"
  }
%}

{% block content %}
  <section id="sign-up" class="panel panel--progress">

    {{ section.header(
        title = "Sign up to the study",
        info = "<a href=\"#\">What happens to my data?</a>" | safe,
        step = 4,
        steps = 9
      )
    }}

    <article>
      <h1>Do you suffer from breathlessness at rest?</h1>
      <form id="sign-up" method="get" action="{{ page.next }}">
        <div class="form-field-group">
          <div class="form-field form-field--radio">
            <input id="breathlessness-yes" name="breathlessness" type="radio" value="yes" >
            <label for="breathlessness-yes">Yes</label>
          </div>
          <div class="form-field form-field--radio">
            <input id="breathlessness-no" name="breathlessness" type="radio" value="no">
            <label for="breathlessness-no">No</label>
          </div>
        </div>
        <div class="form-actions">
          <a class="button button--back secondary" href="{{ page.previous }}">Go back</a>
          <button class="button button--next" type="submit">Continue</button>
        </div>
      </form>
      <p><a href="/">Why is this important?</a></p>
    </article>

    {{ section.footer( info = "<a href=\"/\">Cancel and return to home page</a>" | safe ) }}

  </section>
{% endblock %}

