{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Sign up to the study",
        info = "<a id=\"my-data-open\" class=\"modal-open\" href=\"#my-data\">What happens to my data?</a>" | safe,
        duration = 15,
        step = 3,
        steps = 9
      )
    }}

    <article>
      <h1>In the last 3 months have you had:</h1>
      {% call form.form("t4tb", "sign-up-2.html", "sign-up-4.html") %}
        {{ form.checkboxes("cardio", "", ["A myocardial infarction or ‘heart attack’?", "A stroke?", "Any blackouts?"]) }}
      {% endcall %}
      <p class="why-important"><a id="why-important-open" class="modal-open" href="#why-important">Why is this important?</a></p>
    </article>

    {{ section.exit_link( info = "<a id=\"exit-home-open\" class=\"modal-open\" href=\"#exit-home\">Cancel and return to home page</a>" | safe ) }}

  </section>
{% endblock %}

