{% extends "layouts/layout.njk" %}

{% set section = {
    title: "Sign up to the study",
    id: "sign-up",
    class: "panel--progress",
    steps: {
      done: 3,
      total: 9
    },
    duration: 15,
    progress: {
      time: true,
      info: true,
      bar: true,
      steps: true,
      cancel: true
    },
    page: {
      previous: "sign-up-2.html",
      next: "sign-up-4.html"
    }
  }
%}


{% block content %}
  <section id="sign-up" class="panel panel--progress">
    {% include "includes/panel-header.njk" %}
    <article>
      <h1>In the last 3 months have you had:</h1>
      <form id="sign-up" method="get" action="{{ section.page.next }}">
        <div class="form-field-group">
          <div class="form-field form-field--checkbox">
            <input id="cardio-1" name="cardio" type="checkbox" value="myocardial-infarction">
            <label for="cardio-1">A myocardial infarction or ‘heart attack’?</label>
          </div>
          <div class="form-field form-field--checkbox">
            <input id="cardio-2" name="cardio" type="checkbox" value="stroke">
            <label for="cardio-2">A stroke?</label>
          </div>
          <div class="form-field form-field--checkbox">
            <input id="cardio-3" name="cardio" type="checkbox" value="blackout">
            <label for="cardio-3">Any blackouts?</label>
          </div>
        </div>
        <div class="form-actions">
          <a class="button button--back secondary" href="{{ section.page.previous }}">Go back</a>
          <button class="button button--next" type="submit">Continue</button>
        </div>
      </form>
      <p><a href="/">Why is this important?</a></p>
    </article>
    {% include "includes/panel-footer.njk" %}
  </section>
{% endblock %}

