{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Sign up to the study",
        info = "<a id=\"my-data-open\" class=\"modal-open\" href=\"#my-data\">What happens to my data?</a>" | safe,
        show_progress_bar = false,
        show_progress_steps = false,
        duration = 15
      )
    }}

    <article>
      <h1>I have understood that there may be risks associated with my health condition and have considered the recommendation to seek medical advice, however I have decided to continue with the study.</h1>
      {% call form.form("t4tb", "", "sign-up-7d.html", next_label = "Continue") %}
      <div class="form-field-group">
        {{ form.checkbox("understood-risks", "I have understood the recommendation", required=true ) }}
      </div>
      {% endcall %}
    </article>

    {{ section.exit_link( info = "<a id=\"exit-home-open\" class=\"modal-open\" href=\"#exit-home\">Cancel and return to home page</a>" | safe ) }}

  </section>
{% endblock %}

