{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% set page = {
    previous: "sign-up-6.html",
    next: "sign-up-8.html"
  }
%}

{% block content %}
  <section class="panel panel--progress">

    {{ section.header(
        title = "Sign up to the study",
        info = "<a href=\"#\">What happens to my data?</a>" | safe,
        duration = 15,
        step = 7,
        steps = 9
      )
    }}

    <article>
      <h1>Do you use a walking aid when indoors or outdoors to support you with your mobility?</h1>
      <form id="sign-up" method="get" action="{{ page.next }}">
        <div class="form-field-group">
          <div class="form-field form-field--radio">
            <input id="walking-aid-yes" name="walking-aid" type="radio" value="yes" >
            <label for="walking-aid-yes">Yes</label>
          </div>
          <div class="form-field form-field--radio">
            <input id="walking-aid-no" name="walking-aid" type="radio" value="no">
            <label for="walking-aid-no">No</label>
          </div>
        </div>
        {{ form.actions( page.previous, page.next ) }}
      </form>
      <p><a href="/">Why is this important?</a></p>
    </article>

    {{ section.footer( info = "<a href=\"#exit-home\">Cancel and return to home page</a>" | safe ) }}

  </section>
{% endblock %}

