{% extends "layouts/layout-test.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{% import "macros/timer.njk" as timer %}


{% block content %}
<section class="panel panel--progress">
  <article>
    <h1>Testing...</h1>

    <h2>Form macro</h2>
    <div>
      {% call form.form("t4tb", "#", "#") %}
      {{ form.text('test-field-required', 'Test required field', required=true) }}
      {{ form.text('test-field-optional', 'Test optional field') }}
      {{ form.yesno('test-yn', 'Testing yes/no fields', required=true) }}
      {% endcall %}
    </div>
  </article>
</section>
{% endblock %}
