{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{% import "macros/timer.njk" as timer %}


{% block content %}
<section class="panel panel--progress">
  <article>
    <h1>Testing...</h1>

    <h2>Form macro</h2>
    <div>
      {% call form.form("t4tb", "NEXT.html", "PREVIOUS.html") %}
      {{ form.text(required=true) }}
      {% endcall %}
    </div>

    <h2>SVG timer</h2>
    <div>
      {{ timer.timer(50, '#456789') }}
    </div>

    <h2>JQuery timer icon</h2>
    <div id="jq-timer" style="width: 35px; height: 35px;"></div>
  </article>
</section>
{% endblock %}
