{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}

{% block content %}
  <section class="panel panel--progress">
    <article class="no-progress-header top">
      <h1>Welcome to Train for the Brain!</h1>
    </article>
    <div class="video">
      <div class="video-wrapper">
        <iframe src="http://www.youtube.com/embed/8ItNE_DX6Cc?showinfo=0&iv_load_policy=3&controls=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <article class="bottom">
      <p>This video provides a brief overview of the Train for the Brain programme.</p>
      <div class="form-actions">
        <a class="button button--next" href="tutorial-start.html">Continue</a>
      </div>
    </article>
  </section>
{% endblock %}
