{% extends "layouts/layout.njk" %}

{% import "macros/section.njk" as section %}
{% import "macros/form.njk" as form %}
{% import "macros/video.njk" as video %}

{% block content %}
  <section class="panel panel--progress">
    <article class="no-progress-header top">
      <h1>Welcome to Train for the Brain!</h1>
    </article>

    <div class="wrapper">
      {{ video.video() }}
    </div>

    <article class="bottom">
      <p>This video provides a brief overview of the Train for the Brain programme.</p>
      <div class="form-actions">
        <a class="button button--next" href="tutorial-start.html">Continue</a>
      </div>
    </article>
  </section>
{% endblock %}
