@charset "UTF-8";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.sticky-footer .page-wrapper {
  margin-bottom: 240px;

  @include breakpoint(medium) {
    margin-bottom: 120px;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 948px;
}

span.wrapper {
  display: block;
}
