@charset "UTF-8";

#page-footer {
  @include clearfix;
  bottom: 0;
  width: 100%;
  padding: 0 0 $small-spacing ;
  background-color: $brand-secondary;
  color: $white;

  .logos {
    padding: 0 $base-spacing;

    @include breakpoint(medium) {
      @include flexbox($justify-content: space-between, $align-items: center);
    }
  }

  .sponsor-logos {
    padding: $base-spacing 0;

    img {
      padding: 0 $small-spacing / 2 0
    }
  }

  .project-logos {
    border-top: 1px solid $white;
    padding: $base-spacing 0;

    @include breakpoint(medium) {
      border: none;
      padding: 0 0 $small-spacing 0;
    }
  }

  .utility-nav {
    font-size: $small-font-size;
    line-height: $small-line-height;
    border-top: 1px solid $white;
    margin: 0 $base-spacing;
    padding: $base-spacing 0 $small-spacing;

    ol {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        counter: none;
        font-size: $small-font-size;
        line-height: 1;

        @include breakpoint(medium) {
          display: inline-block;
          padding: 0 $small-spacing;
          margin: 0;
          border-right: 1px solid $white;

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            border-right: none;
            padding-right: 0;
          }
        }

        &::before,
        &::after {
          display: none;
        }
      }
    }

  }
}

.sticky-footer #page-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}
