@charset "UTF-8";

#page-header {
  // position: relative;
  background-color: $brand-primary;
  height: 80px;
  padding: 0 $base-spacing;

  .wrapper {
    @include breakpoint(large) {
      @include flexbox($justify-content: space-between);
      padding: 0 $base-spacing;
    }
  }

  h1 {
    color: $white;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 16px 0 0;

    @include breakpoint(small) {
      padding: 8px 0 0 0;
      font-size: 32px;
    }

    @include breakpoint(large) {
      padding: 20px 0 0 0;
    }
  }

  .user-info {
    color: $white;
    font-size: $small-font-size;

    @include breakpoint(large) {
      padding-top: 24px;
    }
  }

}

#user-status {
  display: none;
  z-index: 1000;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  background-color: $brand-primary;
  color: $white;
  height: 150px;
  padding: 0 $base-spacing;

  .wrapper {
    padding: 0 $base-spacing;
  }

  .user-status_name {
    padding: $base-spacing 0;
  }

  .user-status_actions {
    border-top: 1px solid $white;
    padding: $small-spacing 0;
  }

  h2 {
    color: $white;
    // font-size: 20px;
    margin: 0;
    padding: 0;
  }

  .user-status_actions {
    @include breakpoint(large) {
      @include flexbox($justify-content: space-between);
    }
  }
}
