{#
========================================
Form: Basic skeleton for T4TB form with
      markup for form action buttons
      and div to flag form errors
========================================
#}
{% import "macros/timer.njk" as timer %}

{% macro form(
    id = "t4tb",
    previous = "",
    next = "#",
    previous_label = "Go back",
    next_label = "Continue"
  )
%}
<form id="{{ id }}" method="get" action="{{ next }}">
  <div id="form-errors" class="form-errors hidden">
    <p>There was a problem with your submission.
    <br>The errors have been highlighted below.</p>
  </div>

  {{ caller() }}

  <div class="form-actions">
    {% if previous %}<a class="button button--back secondary" href="{{ previous }}">{{ previous_label }}</a>{% endif %}
    <button class="button button--next" type="submit">{{ next_label }}</button>
  </div>
</form>
{% endmacro %}

{#
========================================
Field: Text input - note if type="date"
       a JQuery UI date widget is used
========================================
#}
{% macro text(
    name  = "FIELD_NAME",
    label = "FIELD_LABEL",
    type  = "text",
    value = "",
    required = "",
    validation = "",
    changeMonth = false,
    changeYear = false
  )
%}
<div class="form-field-group form-field-group--text">
  <div class="form-field form-field--text">
    <label for="{{ name }}">{{ label }}</label>
    {% if type == "date" %}
    <input id="{{ name }}" name="{{ name }}" type="text" value="{{ value }}" placeholder="dd/mm/yyyy" pattern="\d{2}\/\d{2}\/\d{4}" data-type="date" data-change-month="{{ changeMonth }}" data-change-year="{{ changeYear }}" {% if required %}required{% endif %} {{ validation }}>
    {% else %}
    <input id="{{ name }}" name="{{ name }}" type="{{ type }}" value="{{ value }}" {% if required %}required{% endif %} {{ validation }} {{ validation }}>
    {% endif %}
  </div>
</div>
{% endmacro %}

{#
========================================
Field group: Inline text input
========================================
#}
{% macro text2(
    label = "FIELD_LABEL",
    name1 = "FIELD_NAME_1",
    label1 = "FIELD_LABEL_1",
    type1 = "text",
    value1 = "",
    name2 = "FIELD_NAME_2",
    label2 = "FIELD_LABEL_2",
    type2 = "text",
    value2 = "",
    required = "",
    validation = ""
  )
%}
<div class="form-field-group form-field-group--text">
  {% if label %}<label>{{ label }}</label>{% endif %}
  <div class="form-field-inline-group">
    <div class="form-field form-field--text">
      <label for="{{ name1 }}">{{ label1 }}</label>
      <input id="{{ name1 }}" name="{{ name1 }}" type="{{ type1 }}" value="{{ value1 }}" {% if required %}required{% endif %} {{ validation }}>
    </div>
    <div class="form-field form-field--text">
      <label for="{{ name2 }}">{{ label2 }}</label>
      <input id="{{ name2 }}" name="{{ name2 }}" type="{{ type2 }}" value="{{ value2 }}" {% if required %}required{% endif %} {{ validation }}>
    </div>
  </div>
</div>
{% endmacro %}
{#
========================================
Field: Text area
========================================
#}

{% macro textarea(
    name = "FIELD_NAME",
    label = "FIELD_LABEL",
    value = "",
    required = "",
    validation = ""
  )
%}
<div class="form-field-group form-field-group--textarea">
  <div class="form-field form-field--textarea">
    <label for="{{ name }}">{{ label }}</label>
    <textarea id="{{ name }}" name="{{ name }}" type="{{ type }}" value="{{ value }}" {% if required %}required{% endif %} {{ validation }}></textarea>
  </div>
</div>
{% endmacro %}

{#
========================================
Field: Checkbox with optional time icon
========================================
#}
{% macro checkbox(
    name = "FIELD_NAME",
    label = "FIELD_LABEL",
    value ="",
    duration = 0,
    checked = "",
    required = "",
    validation = ""
  )
%}
<div class="form-field-group form-field-group--checkbox">
  <div class="form-field form-field--checkbox ">
    <input id="{{ name }}" name="{{ name }}" type="checkbox" value="{{ value }}" {{ checked }} {% if required %}required{% endif %} {{ validation }}>
    <label for="{{ name }}">{{ label }}</label>
    {% if duration %}
      <div class="duration">{{ duration }} mins {{ timer.timer(duration, "#ccc2ba") }}</div>
    {% endif %}
  </div>
</div>
{% endmacro %}

{#
========================================
Field group: Checkboxes with optional
             time icons
========================================
#}
{% macro checkboxes(
    name ="NAME",
    label ="LABEL",
    values =["OPTION-1"],
    durations = [0],
    inline = false,
    required = "",
    validation = ""
  )
%}
<div class="form-field{% if inline %}-inline{% endif %}-group form-field-group--checkbox">
  {% if label %}<label>{{ label }}</label>{% endif %}

  {% for value in values %}
  <div class="form-field form-field--checkbox">
    <input id="{{ name }}-{{ value | lower | replace(" ", "-") }}" name="{{ name }}" type="checkbox" value="{{ value }}" {% if required %}required{% endif %} {{ validation }}>
    <label for="{{ name }}-{{ value | lower | replace(" ", "-") }}">{{ value }}</label>
    {% if durations[loop.index0] %}
      <div class="duration">{{ durations[loop.index0] }} mins {{ timer.timer(durations[loop.index0], "#ccc2ba") }}</div>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endmacro %}

{#
========================================
Field: Radio button with optional time
       icon
========================================
#}
{% macro radio(
    name = "FIELD_NAME",
    label = "FIELD_LABEL",
    value ="",
    duration = 0,
    checked = "",
    required = "",
    validation = ""
  )
%}
<div class="form-field-group form-field-group--radio">
  <div class="form-field form-field--radio">
    <input id="{{ name }}" name="{{ name }}" type="radio" value="{{ value }}" {{ checked }} {% if required %}required{% endif %} {{ validation }}>
    <label for="{{ name }}">{{ label }}</label>
    {% if duration %}
      <div class="duration">{{ duration }} mins {{ timer.timer(duration, "#1aab98") }}</div>
    {% endif %}
  </div>
</div>
{% endmacro %}

{#
========================================
Field group: Radio buttons with optional
             time icons
========================================
#}
{% macro radios(
    name ="NAME",
    label ="LABEL",
    values =["OPTION-1"],
    durations = [0],
    required = "",
    validation = "",
    inline = false
  )
%}
<div class="form-field{% if inline %}-inline{% endif %}-group form-field-group--radio">
  {% if label %}<label>{{ label }}</label>{% endif %}

  {% for value in values %}
  <div class="form-field form-field--radio">
    <input id="{{ name }}-{{ value | lower | replace(" ", "-") }}" name="{{ name }}" type="radio" value="{{ value }}"  {% if required %}required{% endif %} {{ validation }}>
    <label for="{{ name }}-{{ value | lower | replace(" ", "-") }}">{{ value }}</label>
    {% if durations[loop.index0] %}
      <div class="duration">{{ durations[loop.index0] }} mins {{ timer.timer(durations[loop.index0], "#1aab98") }}</div>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endmacro %}

{#
========================================
Field: Select field
========================================
#}
{% macro select(
    name = "FIELD_NAME",
    label = "FIELD_LABEL",
    values = ["0", "1", "2", "3", "4", "5" ],
    required = "",
    validation = ""
  )
%}
<div class="form-field-group form-field-group--select">
  <div class="form-field form-field--select">
    <label for="{{ name }}">{{ label }}</label>
    <select id="{{ name }}" name="{{ name }}" data-values="{{ values | join('|') }}" {% if required %}required{% endif %} {{ validation }}>
      <option disabled selected>Please choose&hellip;</option>
      {% for value in values %}
        <option value="{{ value }}">{{ value }}</option>
      {% endfor %}
    </select>
  </div>
</div>
{% endmacro %}

{#
========================================
Field group: Yes/No radio buttons
========================================
#}
{% macro yesno(
    name = "NAME",
    label = "LABEL",
    required = "",
    validation = ""
  )
%}
<div class="form-field-group form-field-group--radio">
  {% if label %}<label>{{ label }}</label>{% endif %}
  <div class="form-field form-field--radio">
    <input id="{{ name }}-yes" name="{{ name }}" type="radio" value="yes" {% if required %}required{% endif %} {{ validation }}>
    <label for="{{ name }}-yes">Yes</label>
  </div>
  <div class="form-field form-field--radio">
    <input id="{{ name }}-no" name="{{ name }}" type="radio" value="no" {% if required %}required{% endif %} {{ validation }}>
    <label for="{{ name }}-no">No</label>
  </div>
</div>
{% endmacro %}

{#
========================================
Field: Input field as JQuery UI Slider
       (numeric)
========================================
#}
{% macro slider(
    name = "SLIDER_NAME",
    label = "SLIDER_LABEL",
    min = 0,
    max = 10,
    step = 1,
    unit = "",
    lower_guide = "",
    upper_guide = "",
    required = "",
    validation = ""
  )
%}
<div class="form-field-group form-field-group--slider">
  <div class="form-field form-field--slider">
    <label for="{{ name }}">{{ label }}</label>
    <div class="slider">
      <div class="slider_fill"></div>
      <div class="slider_labels">
        {% for i in range( min, max + 1, step ) -%}
          <div class="slider_label">{{ i }}{{ unit }}</div>
        {%- endfor %}
      </div>
      {% if lower_guide or upper_guide %}
      <div class="slider-guides">
        <span>{{ lower_guide }}</span>
        <span>{{ upper_guide }}</span>
      </div>
      {% endif %}
      <input id="{{ name }}" name="{{ name }}" type="text" data-type="slider" data-min="{{ min }}" data-max="{{ max }}" data-step="{{ step }}"  {% if required %}required{% endif %} {{ validation }}>
    </div>
  </div>
</div>
{% endmacro %}

{#
========================================
Field: Input field as JQuery UI Slider
       (option list)
========================================
#}
{% macro slider_1(
    name = "slider-1",
    label = "Choose an option",
    values = ["0", "1", "2", "3", "4", "5" ],
    floor = "Least",
    ceiling = "Most",
    required = "",
    validation = ""
  )
%}
<div class="form-field-group form-field-group--slider-1">
  <div class="form-field form-field--slider-1">
    <label for="{{ name }}">{{ label }}</label>
    <div class="slider-1">
      <div class="slider-1_fill"></div>

      <div class="slider-1_values">
        {% for value in values -%}
          <div class="slider-1_value">{{ value }}</div>
        {%- endfor %}
      </div>

      {% if floor or span %}
      <div class="slider-1_labels">
        <span>{{ floor }}</span>
        <span>{{ ceiling }}</span>
      </div>
      {% endif %}

      <select id="{{ name }}" name="{{ name }}"  data-type="slider" data-values="{{ values | join('|') }}" {% if required %}required{% endif %} {{ validation }}>
        <option disabled selected>Please choose&hellip;</option>
        {% for value in values %}
          <option value="{{ value }}">{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
{% endmacro %}

{#
========================================
Field actions: Form submit/back buttons
========================================
#}
{% macro actions(
    previous = "#",
    next = "#",
    previous_label = "Go back",
    next_label = "Continue"
  )
%}
<div class="form-actions">
  <a class="button button--back secondary" href="{{ previous }}">{{ previous_label }}</a>
  <button class="button button--next" type="submit">{{ next_label }}</button>
</div>
{% endmacro %}
