{% macro text(
    name = "FIELD_NAME",
    label = "FIELD_LABEL",
    type = "text",
    value = ""
  )
%}
<div class="form-field form-field--text">
  <label for="{{ name }}">{{ label }}</label>
  <input id="{{ name }}" name="{{ name }}" type="{{ type }}" value="{{ value }}">
</div>
{% endmacro %}

{% macro text2(
    label = "FIELD_LABEL",
    name1 = "FIELD_NAME_1",
    label1 = "FIELD_LABEL_1",
    type1 = "text",
    value1 = "",
    name2 = "FIELD_NAME_2",
    label2 = "FIELD_LABEL_2",
    type2 = "text",
    value2 = ""
  )
%}
<div class="form-field-group">
  {% if label %}<label>{{ label }}</label>{% endif %}
  <div class="form-field-inline-group">
    <div class="form-field form-field--text">
      <label for="{{ name1 }}">{{ label1 }}</label>
      <input id="{{ name1 }}" name="{{ name1 }}" type="{{ type1 }}" value="{{ value1 }}">
    </div>
    <div class="form-field form-field--text">
      <label for="{{ name2 }}">{{ label2 }}</label>
      <input id="{{ name2 }}" name="{{ name2 }}" type="{{ type2 }}" value="{{ value2 }}">
    </div>
  </div>
</div>
{% endmacro %}

{% macro textarea(
    name = "FIELD_NAME",
    label = "FIELD_LABEL",
    value = ""
  )
%}
<div class="form-field form-field--text">
  <label for="{{ name }}">{{ label }}</label>
  <textarea id="{{ name }}" name="{{ name }}" type="{{ type }}" value="{{ value }}"></textarea>
</div>
{% endmacro %}

{% macro checkbox(
    name = "FIELD_NAME",
    label = "FIELD_LABEL",
    value = ""
  )
%}
<div class="form-field form-field--checkbox">
  <input id="{{ name }}" name="{{ name }}" type="checkbox" value="{{ value }}">
  <label for="{{ name }}">{{ label }}</label>
</div>
{% endmacro %}

{% macro checkboxes(
    name ="NAME",
    label ="LABEL",
    fields =["OPTION-1"]
  )
%}
<div class="form-field-group">
  <label>{{ label }}</label>

  {% for field in fields %}
  <div class="form-field form-field--checkbox">
    <input id="{{ name }}-{{ field | lower | replace(" ", "-") }}" name="{{ name }}" type="checkbox" value="{{ field }}" >
    <label for="{{ name }}-{{ field | lower | replace(" ", "-") }}">{{ field }}</label>
  </div>
  {% endfor %}
</div>
{% endmacro %}

{% macro radios(
    name ="NAME",
    label ="LABEL",
    fields =["OPTION-1"]
  )
%}
<div class="form-field-group">
  <label>{{ label }}</label>

  {% for field in fields %}
  <div class="form-field form-field--radio">
    <input id="{{ name }}-{{ field | lower | replace(" ", "-") }}" name="{{ name }}" type="radio" value="{{ field }}" >
    <label for="{{ name }}-{{ field | lower | replace(" ", "-") }}">{{ field }}</label>
  </div>
  {% endfor %}
</div>
{% endmacro %}

{% macro yesno(
    name = "NAME",
    label = "LABEL"
  )
%}
<div class="form-field-group">
  {% if label %}<label>{{ label }}</label>{% endif %}
  <div class="form-field form-field--radio">
    <input id="{{ name }}-yes" name="{{ name }}" type="radio" value="yes" >
    <label for="{{ name }}-yes">Yes</label>
  </div>
  <div class="form-field form-field--radio">
    <input id="{{ name }}-no" name="{{ name }}" type="radio" value="no">
    <label for="{{ name }}-no">No</label>
  </div>
</div>
{% endmacro %}


{% macro slider(
    name = "SLIDER_NAME",
    label = "SLIDER_LABEL",
    min = 0,
    max = 10,
    step = 1,
    unit = "",
    lower_guide = "",
    upper_guide = ""
  )
%}
<div class="form-field form-field--slider">
  <label for="{{ name }}">{{ label }}</label>
  <div class="slider">
    <div class="slider_fill"></div>
    <div class="slider_labels">
      {% for i in range( min, max + 1, step ) -%}
        <div class="slider_label">{{ i }}{{ unit }}</div>
      {%- endfor %}
    </div>
    <div class="slider-guides">
      <span>{{ lower_guide }}</span>
      <span>{{ upper_guide }}</span>
    </div>
    <input id="{{ name }}" name="{{ name }}" type="hidden" data-min="{{ min }}" data-max="{{ max }}" data-step="{{ step }}">
  </div>
</div>
{% endmacro %}

{% macro actions(
    previous = "#",
    next = "#",
    previous_label = "Go back",
    next_label = "Continue"
  )
%}
<div class="form-actions">
  <a class="button button--back secondary" href="{{ previous }}">{{ previous_label }}</a>
  <button class="button button--next" type="submit">{{ next_label }}</button>
</div>
{% endmacro %}
