{% macro header(
    title = "SECTION_TITLE",
    show_progress_header = true,
    show_progress_bar = true,
    show_progress_steps = true,
    duration = false,
    info = "",
    step = 1,
    steps = 5,
    bg_color = ""
  )
%}
<header>
  <div class="section-title  {% if bg_color %}{{ bg_color }}{% endif %}">
    <div class="wrapper">
      <h1>{{ title }}</h1>
    </div>
  </div>

  {% if show_progress_header %}
  <div class="progress-header">
    {% if duration or info %}
      <hr>
    {% endif %}
    <div class="wrapper">
      {% if duration or info %}
        {% if duration %}<div class="progress-duration"><img src="/images/time-icon-{{ duration }}.svg" >Takes about {{ duration }} minutes</div>{% endif %}
        {% if info %}<div class="progress-info">{{ info }}</div>{% endif %}
      {% endif %}
    </div>
  </div>
  {% endif %}

  {% if show_progress_bar %}
  <div class="progress-bar">
    <div class="wrapper">
      <div class="progress-total"></div>
      <div class="progress-done" style="width: {{ step / steps * 100 }}%"></div>
    </div>
  </div>
  {% endif %}

    {% if show_progress_steps %}
    <div class="progress-steps">
      <div class="wrapper">
        <em>{{ step }}</em>/{{ steps }}
      </div>
    </div>
    {% endif %}
</header>
{% endmacro %}

{% macro footer(
    info = ""
  )
%}
<footer>
  <div class="footer-info wrapper">{{ info }}</div>
</footer>
{% endmacro %}

{# macro XXXX() %}
{% endmacro #}
