  <div id="why-important" class="modal">
    <a id="why-important-close" class="modal-close" href="#">Close <img src="/images/white-cross-icon.svg" alt=""></a>
    <div class="modal-content">
      <article>
        <h1>Contact us</h1>
        <p>You can contact us by email, telephone, fax, letter or use the contact form below if you have a question which doesn’t seem to be answered on this site.</p>

        <h2>Address</h2>
        <p>PROTECT Study<br>
        Clinical Trials Team<br>
        Wolfson Centre for Age-Related Diseases <br>
        Guy’s campus<br>
        King’s College London<br>
        London SE1 1UL</p>

        <h2>Email</h2>
        <p><a href="mailto:admin@protectstudy.org.uk">admin@protectstudy.org.uk</a></p>

        <h2>Helpline</h2>
        <p>0207 848 8183</p>

        <h2>Contact form</h2>
        <form>
        </form>
      </article>
    </div>
  </div>
