  <div id="exit-dashboard" class="modal">
    <a id="exit-dashboard-close" class="modal-close" href="#">Close <img src="/images/white-cross-icon.svg" alt=""></a>
    <div class="modal_content">
      <article>
        <h1>Are you sure you want to exit? All session progress will be lost.</h1>
        <div class="form-actions">
          <a class="button warning" href="session-1-start">Yes, exit the session</a>
          <a id="exit-dashboard-close-button" class="button secondary modal-close-button" href="#">No, finish the session</a>
        </div>
      </article>
    </div>
  </div>
