  <div id="exit-measures" class="modal">
    <a id="exit-measures-close" class="modal-close" href="#">Close <img src="/images/white-cross-icon.svg" alt=""></a>
    <div class="modal-content">
      <article>
        <h1>Are you sure you want to exit? All measures and goals will be lost.</h1>
        <div class="form-actions">
          <a class="button warning" href="measures-1.html">Yes, exit and return</a>
          <a id="exit-measures-close-button" class="button secondary modal-close-button" href="#">No, finish measures</a>
        </div>
      </article>
    </div>
  </div>
