  <div id="exit-home" class="modal">
    <a id="exit-home-close" class="modal-close" href="#">Close <img src="/images/white-cross-icon.svg" alt=""></a>
    <div class="modal_content">
      <article>
        <h1>Are you sure you want to exit? All sign up progress will be lost.</h1>
        <div class="form-actions">
          <a class="button warning" href="/">Yes, exit sign-up</a>
          <a id="exit-home-close-button" class="button secondary modal-close-button" href="#">No, finish sign-up</a>
        </div>
      </article>
    </div>
  </div>
