  <div id="ill-health" class="modal">
    <a id="ill-health-close" class="modal-close" href="#">Close <img src="/images/white-cross-icon.svg" alt=""></a>
    <div class="modal_content">
      <div class="modal_content-wrapper">
        <h1>What do we mean by 'ill health'?</h1>
        <p>This includes any ill health that may or may not have lead to a
          hospital admission, such as infections, falls, fractures, loss of
          consciousness (fainting), stroke, heart attack, torn ligament,
          sprains, allergic reactions and seizures.</p>
      </div>
    </div>
  </div>


