  <div id="ipaq" class="modal">
    <a id="ipaq-close" class="modal-close" href="#">Close <img src="/images/white-cross-icon.svg" alt=""></a>
    <div class="modal_content">
      <article>
        <h1>The International Physical Activity Questionnaire (IPAQ)</h1>
        <p>About your exercise diary (IPAQ) comprises a set of 4 questionnaires.
          Long (5 activity domains asked independently) and short (4 generic
          items) versions for use by either telephone or self-administered methods
          are available. The purpose of the questionnaires is to provide common
          instruments that can be used to obtain internationally comparable data
          on health–related physical activity.</p>

        <h2>Background on IPAQ</h2>
        <p>The development of an international measure for physical activity
          commenced in Geneva in 1998 and was followed by extensive reliability
          and validity testing undertaken across 12 countries (14 sites) during
          2000. The final results suggest that these measures have acceptable
          measurement properties for use in many settings and in different
          languages, and are suitable for national population-based prevalence
          studies of participation in physical activitk.</p>

        <h2>Using IPAQ</h2>
        <p>Use of the IPAQ instruments for monitoring and research purposes is
          encouraged. It is recommended that no changes be made to the order or
          wording of the questions as this will affect the psychometric properties
          of the instruments.</p>

        <h2>Translation from English and Cultural Adaptation</h2>
        <p>Translation from English is supported to facilitate worldwide use of
          IPAQ. Information on the availability of IPAQ in different languages can
          be obtained at www.ipaq.ki.se. If a new translation is undertaken we
          highly recommend using the prescribed back translation methods available
          on the IPAQ website. If possible please consider making your translated
          version of IPAQ available to others by contributing it to the IPAQ
          website. Further details on translation and cultural adaptation can be
          downloaded from the website.</p>

        <h2>Further Developments of IPAQ</h2>
        <p>International collaboration on IPAQ is on-going and an International
          Physical Activity Prevalence Study is in progress. For further
          information see the IPAQ website.</p>

        <h2>More Information</h2>
        <p>More detailed information on the IPAQ process and the research methods
          used in the development of IPAQ instruments is available at
          www.ipaq.ki.se and Booth, M.L. (2000). Assessment of Physical Activity:
          An International Perspective. Research Quarterly for Exercise and Sport,
          71 (2): s114-20. Other scientific publications and presentations on the
          use of IPAQ are summarized on the website.</p>
      </article>
    </div>
  </div>
