  <div id="my-data" class="modal">
    <a id="my-data-close" class="modal-close" href="#">Close <img src="/images/white-cross-icon.svg" alt=""></a>
    <div class="modal-content">
      <article>
          <h1>What happens to my data?</h1>
          <h2>Information and Consent</h2>
          <p>This page includes the information and details required to support you in
            making your decision to take part in the PROTECT study. It is important that
            you fully understand the information provided before you agree to take part in
            the study. This is a legal requirement for all research conducted in the UK.</p>
          <p>The Train for the Brain study has been approved by an independent ethical
            committee and fulfils all the legal obligations. The key points of this
            legislation are outlined below. Further information is available in the
            information leaflet.</p>

          <h2>Is my data safe?</h2>
          <p>We understand that it is important for you to be confident that any data we hold about you is safe and confidential. We ensure this in the following ways:</p>
          <ul class="special">
            <li>Your data will be anonymous – all personal information such as your name and address will be physically separated from other data collection</li>
            <li>All data collected online uses secure encryption technology</li>
            <li>Storage of all personal information will be encrypted. Only a very small number of individuals will have access to the decryption software</li>
            <li>Any information which is kept in hard copy is stored in a locked cabinet in locked room, in a secure building with restricted access</li>
            <li>If you are involved in a study which requires DNA samples, these samples will be anonymous and identified only with a code</li>
            <li>The data collected will only be used only for the purposes of this study. This is explained further in our privacy policy</li>
          </ul>

          <h2>What is consent and how does it work?</h2>
          <p>It is essential that all participants in the Train for the Brain study agree to take part of their own volition, and indicate that they understand what the study involves. There is no obligation to take part. Once you have provided consent you can withdraw from the study at any time.</p>
          <p>When you give your consent you are agreeing that we can collect and store data about you according to the information provided in the information leaflet.</p>
        </article>
      </div>
    </div>
  </div>


