<footer id="page-footer" role="contentinfo">
  <div class="wrapper">
    <div class="logos">
      <div class="sponsor-logos">
        <img src="/images/kings-logo.svg">
        <img src="/images/exeter-logo.svg">
      </div>
      <div class="project-logos">
        <img src="/images/protect-logo.svg">
      </div>
    </div>
    <nav class="utility-nav">
      <ol>
        <li><a id="contact-form-open" href="#">Contact us</a></li>
        <li><a href="#">Report an issue</a></li>
        <li><a href="#">What is dementia?</a></li>
      </ol>
    </nav>
  </div>
</footer>
