<footer id="page-footer" role="contentinfo">
  <div class="logos">
    <div class="sponsor-logos">
      <img src="images/kings-logo.svg">
      <img src="images/exeter-logo.svg">
    </div>
    <div class="project-logos">
      <img src="images/protect-logo.svg">
    </div>
  </div>
  <nav class="utility-nav">
    <ol>
      <li><a href="#">Contact us</a></li>
      <li><a href="#">Report and issue</a></li>
      <li><a href="#">Contact us</a></li>
    </ol>
  </nav>
</footer>
