  <div id="what-is-dementia" class="modal">
    <a id="what-is-dementia-close" class="modal-close" href="#">Close <img src="/images/white-cross-icon.svg" alt=""></a>
    <div class="modal-content">
      <article>
        <h1>What is dementia?</h1>
        <p>Dementia is an umbrella terms that describes a broad set of symptoms resulting from damage to the brain caused by diseases, injury or other conditions. Symptoms range from memory loss and difficulty with language to changes in behaviour and personality.</p>
        <p>There are currently 800,000 people with dementia in the UK. This is set to rise to one million by 2025 as someone develops the condition every 3.2 minutes. The most common cause of dementia is Alzheimer’s Disease but there are over one hundred different causes.</p>
        <p>Dementia costs the UK £20 billion each year, more than heart disease, stroke and cancer combined. Despite this, we know surprisingly little about how dementia develops and what can be done to prevent it.</p>

        <p class="heading">We do know that the risk of dementia is higher in people who:</p>
        <ul class="special">
          <li>Are overweight</li>
          <li>Are smokers</li>
          <li>Have high blood pressure</li>
          <li>Have high cholesterol</li>
          <li>Do not take regular exercise</li>
        </ul>

        <p><a href="#">Dementia at the Institute of Psychiatry, Psychology & Neuroscience, King’s College London</a></p>
        <p><a href="#">Alzheimer’s Society</a></p>
      </article>
    </div>
  </div>
