  <div id="why-important" class="modal">
    <a id="why-important-close" class="modal-close" href="#">Close <img src="/images/white-cross-icon.svg" alt=""></a>
    <div class="modal-content">
      <article>
        <h1>Why is this important?</h1>
        <p>We need to know about certain medical conditions as we will tailor the exercise programme to your individual needs.</p>
        <p>If you have a condition which may put you at a higher risk we suggest you speak with your GP before enrolling in the study.</p>
      </article>
    </div>
  </div>
