  <div id="why-exercise" class="modal">
    <a id="why-exercise-close" class="modal-close" href="#">Close <img src="/images/white-cross-icon.svg" alt=""></a>
    <div class="modal-content">
      <article>
        <h1>Exercise information</h1>
        <p>Exercise has multiple benefits and we can continue to see improvements
          within our fitness and overall health regardless of our age or current
          activity levels.</p>
        <p>The Department of Health have several key recommendations regarding the
          amount of exercise you should be carrying out each week and the different
          types of exercise to fit into your routine.</p>

        <h2>Key recommendations include:</h2>
        <ul class="special">
          <li>Completing 150 minutes of moderate aerobic activity every week, or;</li>
          <li>75 minutes of vigorous activity every week, or;</li>
          <li>a combination of moderate and vigorous activity every week</li>
          <li>Incorporating strengthening exercises into your routine twice a week
            that work your major muscle groups, such as your legs, back and arms</li>
          <li>Those that are at risk of falls should also focus on balance and
            co-ordination work twice a week</li>
        </ul>
        <p>You should also ensure that you break up sedentary exercises, please do
          use this for support. periods of activity, as this is recognised as a
          risk factor.</p>

        <h2>The benefits of exercise are wide ranging, some of these include:</h2>
        <ul class="special">
          <li>Strengthening your muscles and bones</li>
          <li>Ensuring that you maintain a healthy weight</li>
          <li>Maintaining your memory function and preventing cognitive decline</li>
          <li>Improving your mood</li>
          <li>Enabling you to remain active and feeling more energetic</li>
          <li>Reduce your risk of cardiovascular disease, such as diabetes and heart disease</li>
        </ul>
      </article>
    </div>
  </div>


