<ul class="dev-menu">
  <li><a href="index.html">Home</a></li>
  <li><a href="sign-up-1.html">Sign up 1</a></li>
  <li><a href="sign-up-2.html">Sign up 2</a></li>
{#   <li><a href="sign-up-3.html">Sign up 3</a></li>
  <li><a href="sign-up-4.html">Sign up 4</a></li>
  <li><a href="sign-up-5.html">Sign up 5</a></li>
  <li><a href="sign-up-6.html">Sign up 6</a></li>
 #}</ul>
